{% load static %}

<html>
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link href="{% static 'css/mercury.css' %}?version=1" rel="stylesheet"></link>
    <link href="{% static 'css/mercury-table2.css' %}" rel="stylesheet"></link>
    <link href="{% static 'css/profile.css' %}?version=1" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>
    <!-- <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> -->
    <!-- <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>  

      
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  </head>
  <body>

	{% csrf_token %}
    <div id="test" class="container-fluid p-0">
      {% verbatim %}      
      {% endverbatim %}
    </div>


    
    <script src="{% static 'js/data/mercury.js' %}"></script>
    <script src="{% static 'js/vue/templates/mercury.js' %}"></script>
    <script src="{% static 'js/vue/plugins/multi-filter.js' %}"></script>
    <script src="{% static 'js/vue/store/mercury.js' %}"></script>    
    <script src="{% static 'js/vue/components/mercury.js' %}"></script>
    <script src="{% static 'js/vue/app/mercury.js' %}"></script>
    <script src="{% static 'js/mercury-socket.js' %}"></script>

    <script>
		const Mercury = new MercuryTable({id  : "test"})
		Mercury.render()
    </script>

  </body>
</html>
