{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_st %}
        <h1>{% trans "Sign Up" %}</h1><hr>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          <!-- <input type="hidden" name="csrfmiddlewaretoken" value="O6NHA3iwHqjHVoe9rhjG8f4DZa57MpfrmsXsq0u2jBBphZxMQJ6SF6niUsbTkTeS"> -->
		  	{% csrf_token %}
				<div id="div_id_email" class="form-group"> 
					<label for="id_email" class=" requiredField">Email<span class="asteriskField">*</span> </label> 
				
					<div class=""> 
						<input type="email" name="email" placeholder="Email" class="textinput textInput form-control" required="" id="id_email"> 
					</div> 
				</div> 
				
				<div id="div_id_first_name" class="form-group"> 
					<label for="id_first_name" class=" requiredField">First Name<span class="asteriskField">*</span> </label>
					<div class="">
						 <input type="text" name="first_name" maxlength="30" placeholder="First Name" class="textinput textInput form-control" required="" id="id_first_name"> 
					</div> 
				</div> 
				
				<div id="div_id_last_name" class="form-group"> 
					<label for="id_last_name" class=" requiredField">Last Name<span class="asteriskField">*</span> </label> 
					<div class=""> 
						<input type="text" name="last_name" maxlength="30" placeholder="Last Name" class="textinput textInput form-control" required="" id="id_last_name"> 
					</div> 
				</div> 
				
				<div id="div_id_contact_no" class="form-group"> 
					<label for="id_contact_no" class=" requiredField">Contact<span class="asteriskField">*</span> </label> 
					<div class=""> 
						<input type="text" name="contact_no" placeholder="Contact Number" class="textinput textInput form-control" required="" id="id_contact_no"> 
					</div> 
				</div> 
				
				<div id="div_id_password1" class="form-group"> 
					<label for="id_password1" class=" requiredField">Password<span class="asteriskField">*</span> </label> 
					<div class=""> 
						<input type="password" name="password1" placeholder="Password" class="textinput textInput form-control" required="" id="id_password1"> 
					</div> 
				</div> 
				
				<div id="div_id_password2" class="form-group"> 
					<label for="id_password2" class=" requiredField">Confirm Password<span class="asteriskField">*</span> </label> 
					<div class=""> 
						<input type="password" name="password2" placeholder="Confirm Password" class="textinput textInput form-control" required="" id="id_password2"> 
					</div> 
				</div>

				<div id = "referal" class="mb-3 ml-1" style="margin-top : -0.3rem;">
					<a class="mb-5" data-toggle="collapse" href="#collapse-referal" onclick="change_span_text()" role="button" aria-expanded="false" aria-controls="referal-collapse"><span id = "down-mark" class = "content-heading text-dark">▼</span> Referal Code</a>
					<div class="collapse mt-2" id="collapse-referal">
						<input type="text" id="" maxlength="8" name="referral-code" value="" placeholder="8 - Digit Code" class="textinput textInput form-control" >
					</div>
				</div>

				<div class="form-group form-check" style="padding-left: 0em;">
					<input type="checkbox" class="form-group mr-2 pt-0" id="exampleCheck1" required>
					<label class="form-check-label font-wi" for="exampleCheck1">
					<small>Agree Terms & Conditions
						<a href="" data-toggle="modal" data-target="#exampleModalScrollable">View</a>
					</small>
					</label>
				</div>
				
          <button id = "sign-up-btn" class="btn btn-block btn-outline-primary" type="submit">Sign Up</button>
        </form>

		<script>
			var referal_arrow = true;
			$("input[name = 'referral-code']").val(sessionStorage.getItem("referral-code"))
			sessionStorage.removeItem("referral-code")
			function change_span_text(){
				if(referal_arrow) {
					$('#down-mark').html("⮞")
					referal_arrow = !referal_arrow
				}else{
					$('#down-mark').html("▼")
					referal_arrow = !referal_arrow
				}
			}

			$("#sign-up-btn").click(()=>{
				$.ajax({
					type : "GET",
					url: '{% url "update_session" %}',
					data: {"data" : JSON.stringify({'data' : {"referral-code" : $('input[name="referral-code"]').val()}})}, // data to be submit
					success : function(response){
						// console.log(response);
						// location.href = "{% url 'create_order' %}"
					},
				});
			});
		</script>


<!-- Modal Terms and conditions -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalScrollableTitle">TERMS AND CONDITIONS</h5>
			</div>
			<div class="modal-body">
					<p  style="align:center;">
							<strong>TERMS AND CONDITIONS</strong>
						</p>
						<p>
							These terms of use (“Terms of Use”) mandate the terms on which the users
							(“You” or “Your” or “Yourself” or “User”) access and register on the
							‘Algonauts’ website, m-web and mobile application (collectively referred to
							as the “Platform”), operated by Algonauts Technologies Private Limited
							(hereinafter referred to as “We” or “Our” or “Us” or “Company”), and the
							Platform Services (as defined below), provided through the Platform.
						</p>
						<p>
							<strong>1. </strong>
							<strong><u>About the firm</u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							Algonauts is a team of finance and technology professionals with combined
							experience over 20 years. We as a firm strongly believe that algorithmic
							trading is the future, and is a way to trade and make money in the markets.
							Extensive use of technology and numerous years of experience in stock
							market empower us to build new algorithms. Our aim is to bridge the gap
							between technology and quantitative world, and to generate consistent
							superior returns.
						</p>
						<p>
							We identify, evaluate, analyze and leverage trading and investment
							opportunities to build algorithms using statistical and mathematical
							models. This is achieved through a comprehensive set of modules which do
							return analysis, variance analysis, trade simulations, and multiple trading
							strategies. All the algorithms are subsequently put through stringent tests
							for accuracy in predicting markets. Our automated trading systems have been
							back tested and have passed strict criteria for generating returns over
							long time horizons.
						</p>
						<p>
							<strong>2. </strong>
							<strong><u>Account</u></strong>
						</p>
						<p>
							a) In order to avail the Platform Services (<em>as defined hereinafter</em>
							) on the Platform, You will have to register on the Platform by providing
							details about Yourself, including Your name, address, contact details and
							such other details as may be required on the Platform and create an account
							(“<strong>Account</strong>”).
						</p>
						<p>
							b) You shall ensure and confirm that the Account information provided by
							You is complete, accurate and up-to-date. If there is any change in the
							Account information, You shall promptly update Your Account information on
							the Platform. If You provide any information that is untrue, inaccurate,
							not current or incomplete (or becomes untrue, inaccurate, not current or
							incomplete), or if the Company has reasonable grounds to suspect that such
							information is untrue, inaccurate, not current or incomplete, the Company
							has the right to suspend or terminate Your Account and refuse any and all
							current or future use of the Platform (or any portion thereof) at its
							discretion, in addition to any right that the Company may have against You
							at law or in equity, for any misrepresentation of information provided by
							You.
						</p>
						<p>
							c) You will be responsible for maintaining the confidentiality of the
							Account information and are fully responsible for all activities that occur
							under Your Account. You agree to (a) immediately notify the Company of any
							unauthorized use of Your Account information or any other breach of
							security, and (b) ensure that You exit from Your Account at the end of the
							day. The Company cannot and will not be liable for any loss or damage
							arising from Your failure to comply with this provision. You may be held
							liable for losses incurred by the Company or any other user of or visitor
							to the Platform due to authorized or unauthorized use of Your Account as a
							result of Your failure in keeping Your Account information secure and
							confidential.
						</p>
						<p>
							d) Use of another User’s Account information for availing the Platform
							Services is expressly prohibited.
						</p>
						<p>
							<strong>3. </strong>
							<strong><u>Scope of Service; </u></strong>
						</p>
						<p>
							(Please define the services that you would be providing to the customers)
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>4. </strong>
							<strong><u>Eligibility to use</u></strong>
						</p>
						<p>
							a) The Platform Services are not available to minors i.e. persons under the
							age of 18 (eighteen) years or to any Users suspended or removed by the
							Company for any reason whatsoever. You represent that You are of legal age
							to form a binding contract and are not a person barred from receiving
							Platform Services under the applicable laws.
						</p>
						<p>
							b) The Company reserves the right to refuse access to the Platform or
							Platform Services to new Users or to terminate access granted to existing
							User(s) at any time without according any reasons for doing so.
						</p>
						<p>
						c) You shall not have more than one active Account (    <em>as defined hereinafter</em>) on the Platform. Additionally, You are
							prohibited from selling, trading, or otherwise transferring Your Account to
							another party or impersonating any other person for the purposing of
							creating an account with the Platform.
						</p>
						<p>
							<strong>5. </strong>
							<strong><u>Acceptance of Terms of Use</u></strong>
						</p>
						<p>
							a) Use of and access to the Platform is offered to You upon the condition
							of acceptance of all the terms, conditions and notices contained in these
							Terms of Use, along with any amendments made by the Company at its sole
							discretion and posted on the Platform. By (i) using this Platform or any
							Platform Services in any way; or (ii) merely browsing the Platform, You
							agree that You have read, understood and agreed to be bound by these Terms
							of Use available at cure.fit website and mobile app.
						</p>
						<p>
							b) The Company retains an unconditional right to modify or amend this Terms
							of Use without any requirement to notify You of the same. It shall be Your
							responsibility to check this Terms of Use periodically for changes. Your
							continued use of the Platform following the posting of changes to this
							Terms of Use on the Platform, will constitute Your consent and acceptance
							of those changes.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>6. </strong>
							<strong><u>Your Obligations:</u></strong>
						</p>
						<p>
							You:
						</p>
						<p>
							a) agree not to use the platform and/or services (or any part thereof) for
							any illegal purpose and agree to use it in accordance with all relevant
							laws;
						</p>
						<p>
							b) agree not to upload or transmit through the platform(s) and /or the
							services any computer viruses, macro viruses, trojan horses, worms or
							anything else designed to interfere with, interrupt or disrupt the normal
							operating procedures of a computer;
						</p>
						<p>
							c) will not upload or transmit through the platform(s) and/or the services
							any material which is defamatory, offensive, or of an obscene or menacing
							character, or that may cause annoyance, inconvenience or needless anxiety;
						</p>
						<p>
							d) will not use the platform(s) and/or the services in a way that may cause
							the website(s) and/or the services to be interrupted, damaged, rendered
							less efficient or such that the effectiveness or functionality of the
							website(s) and/or the services is in any way impaired;
						</p>
						<p>
							e) will not use the platform(s) and/or the services in any manner which
							violates or infringes the rights of any person, firm or company (including,
							but not limited to, rights of intellectual property, rights of
							confidentiality or rights of privacy);
						</p>
						<p>
							f) will not attempt any unauthorised access to any part or component of the
							platform(s) and/or the services;
						</p>
						<p>
							g) agree that in the event that you have any right, claim or action against
							any Users arising out of that User's use of the platform(s) and/or the
							services, then you will pursue such right, claim or action independently
							of, and without recourse to us; and agree not to allow any third party
							directly or indirectly to use your subscription, user name or password.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>7. </strong>
							<strong><u>Privacy</u></strong>
						</p>
						<p>
							The User represents that he is aware that in the process of subscribing to
							the Platform or parts of it, we may obtain information relating to User,
							including that of a confidential nature. This information will be used by
							us for its internal purposes and will be kept confidential. Notwithstanding
							anything contained above, we reserves the right to disclose personal
							information where it believes in good faith that such disclosure is
							required by law, to perform necessary credit checks or collect or report
							debts owed to us, to protect our rights or property or for other bonafide
							uses. You agree and warrant that all information that we may possess or may
							obtain pursuant to the use of Service and/or Platform has been possessed or
							obtained with your permission.
						</p>
						<p>
							<strong>8. </strong>
							<strong><u>Payment Services</u></strong>
						</p>
						<p>
							a) All payments in respect of the Platform Services shall be made to the
							Company through the Platform. To the extent permitted by applicable law and
							subject to the Company’s Privacy Policy, you acknowledge and agree that the
							Company may use certain third-party vendors and service providers,
							including payment gateways, to process payments and manage payment card
							information.
						</p>
						<p>
							b) <strong>Representations during payment: </strong>In order to make
							payments online, you undertake to use a valid payment card or bank details
						or third party wallets or details required for any other mode of payment (“    <strong>Payment Details</strong>”) with the authority to use the same, to
							have sufficient funds or credit available to complete the payment on the
							Platform in good standing. By providing the Payment Details, you represent,
							warrant, and covenant that: (1) you are legally authorized to provide such
							Payment Details; (2) you are legally authorized to perform payments using
							such Payment Details; and (3) such action does not violate the terms and
							conditions applicable to your use of such Payment Details or applicable
							law. You agree that you are responsible for any fees charged by your mobile
							carrier in connection with your use of the payment services through your
							mobile. The Company shall use the Payment Details as described in the
							Company’s Privacy Policy. You may add, delete, and edit the Payment Details
							you have provided from time to time through the Platform.
						</p>
						<p>
							c) You acknowledge and agree that, in the event you have made payments in
							respect of any Subscription Program through your credit card, the Company
							is authorized to charge the same credit card as was used for the initial
							subscription fee. In case you wish to renew your Subscription Program, the
							renewal subscription fees will be billed to the Payment Details you
							provided, until you change the Payment Details.
						</p>
						<p>
							d) <strong>Transaction Summary:</strong> The payment receipt for completion
							of a transaction and the transaction summary shall be provided by the
							respective Vendors or by the Company, as the case may be, and the payment
							receipt and transaction summary shall be made available on the Platform and
							also be sent to your registered email address.
						</p>
						<p>
							e) <strong>Failed Transactions:</strong> Except to the extent otherwise
							required by applicable law, the Company is not liable for any payments
							authorized through the Platform using your Payment Details. Particularly,
							the Company is not liable for any payments that do not complete because:
							(1) your payment card or bank account or third party wallet does not
							contain sufficient funds to complete the transaction or the transaction
							exceeds the credit limit in respect of the Payment Details provided; (2)
							you have not provided the Company with correct Payment Details; (3) your
							payment card has expired; or (4) circumstances beyond the Company’s control
							(such as, but not limited to, power outages, interruptions of cellular
							service, or any other interferences from an outside force) which prevent
							the execution of the transaction.
						</p>
						<p>
							f) With regards to payments, the Platform shall not be responsible or
							liable for any unauthorised transactions conducted on our Platform using
							your payment card or internet banking.
						</p>
						<p>
							<strong>9. </strong>
							<strong><u>About Software in Services</u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							The Software which you use may automatically download and install updates
							from time to time. These updates are designed to improve, enhance and
							further develop the Services and may take the form of bug fixes, enhanced
							functions, new software modules and completely new versions.
						</p>
						<p>
							<strong>a) </strong>
							<strong><u>Modification</u></strong>
							You agree to receive such updates (and permit us to deliver these to you)
							as part of your use of the Services.<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>10. </strong>
							<strong><u>Warranties &amp; Liability </u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							a) You hereby agree that the risks and losses incurred by the You in
							pursuance of financial advice rendered by us shall be borne solely and
							exclusively by You.
						</p>
						<p>
							b) You understands that the responsibility of the Company does not extend
							beyond providing a financial advice that is best suited to the investment
							needs of You and as such any investment decision made by You, relying
							completely or in part, upon the financial advice rendered by us shall be
							deemed to have been made voluntarily and independent of the our influence.
						</p>
						<p>
							c) You understands that the financial advice rendered by the Company is
							subjective and unique to the investment related needs of your financial
							situations and is designed in the light of the market conditions. Any
							advice rendered to a third party by us and benefits thus accrued or the
							losses incurred by the same shall have no bearing whatsoever upon the
							unique financial advice rendered to You.
						</p>
						<p>
							d) You further agrees that any risk undertaken and/or loss incurred by
							employing the unique financial advice rendered by us to you shall be the
							responsibility and/or the liability of you.
						</p>
						<p>
							e) We undertakes to render financial advice best suited to your requirement
							with considerable diligence. Platform/Company shall not be liable for any
							loss incurred by you during or after the term of this Agreement.
						</p>
						<p>
							<u>General Liability</u>
						</p>
						<p>
							a) Digital options are inherently risky and complex products and are often
							traded speculatively.
						</p>
						<p>
							b) Digital options are suitable only for professionals, who understand and
							have experience with complex trading instruments, and are willing to assume
							the economic, legal and other risks associating with trading and investing
							in digital options.
						</p>
						<p>
							c) We do not provide any custody services to You.
						</p>
						<p>
							d) You, and not the Company, assumes the entire cost and risk of any
							trading You chooses to undertake.
						</p>
						<p>
							e) We are not responsible for any delays, delivery failures, or any loss or
							damage which results from the transmission of information over any network,
							including but not limited to the internet.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							11. <strong><u> Suspension &amp; Termination</u></strong><u></u>
						</p>
						<p>
							<u></u>
						</p>
						<p>
							a) Your platform facility/services may at any time be suspended/ disallowed
							/modified for such reason and for such time period as deem fit like
							inactive/dormant user id, noncompliance of the terms stated herein, death,
							insolvency, bankruptcy of the investor, any other cause arising out of the
							operation of law or such other reason as deems proper.
						</p>
						<p>
							b) Your platform facility/services may be terminated by giving you an
							intimation/notice to your registered e-mail id or by way of SMS to your
							registered phone number. You may terminate the dealings at any time by
							giving Prior written notice or deactivation of your user id and password
							through SMS and e-mail anytime by e-mailing to
							___________________________________. In the event of termination for any
							reason whatsoever, you shall be liable to pay all outstanding charges and
							dues, if any.
						</p>
						<p>
							<strong>12. </strong>
							<strong><u>Amendments</u></strong>
							<strong><u></u></strong>
						</p>
						<p>
							These terms and conditions may be amended for such reason as deem fit and
							proper including but not limited to comply with changes in law or
							regulation, correct inaccuracies, omissions, errors or ambiguities, reflect
							changes in the process flow, scope and nature of the services, company
							reorganization or Investor requirements.
						</p>
						<p>
							<strong>13. </strong>
							<strong><u>Intellectual Property Rights</u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							a) The Platform and the processes, and their selection and arrangement,
							including but not limited to, all text, graphics, user interfaces, visual
							interfaces, sounds and music (if any), algorithms and mathematical code
							(and any combinations thereof) (collectively, the “Content”) on the
							Platform is owned and controlled by the Company and the design, structure,
							selection, coordination, expression, look and feel and arrangement of such
							Content is protected by copyright, patent and trademark laws, and various
							other intellectual property rights.
						</p>
						<p>
							b) The trademarks, logos and service marks displayed on the Platform
							(“Marks”) are the property of the Company and / or Vendors and / or other
							respective third parties, as the case may be. You are not permitted to use
							the Marks without the prior consent of the Company, or the Vendors, or the
							third party that may own the Marks.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>14. </strong>
							<strong><u>Governing law and Jurisdiction:</u></strong>
						</p>
						<p>
							<strong></strong>
						</p>
						<p>
							a) The terms &amp; Conditions of this Agreement shall be governed by the
							Laws of India.
						</p>
						<p>
							b) The Parties agree that the courts in Mumbai shall have exclusive
							jurisdiction over any dispute arising out of this Agreement.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>15. </strong>
							<strong><u>Report Abuse and Grievance Redressal</u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							In the event You come across any abuse or violation of these Terms of Use
							or if You become aware of any objectionable content on the Platform or if
							You wish to report a grievance regarding Platform or Platform Services,
							please report the same to the following e-mail id: ______________________.
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>16. </strong>
							<strong><u>General Provisions</u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							a) Notice: All notices from the Company will be served by email to Your
							registered email address or by general notification on the Platform. Any
							notice provided to the Company pursuant to the Terms of Use should be sent
							to ______________________ with subject line - Attention: TERMS OF USE.
						</p>
						<p>
							b) Assignment: You cannot assign or otherwise transfer the Terms of Use, or
							any rights granted hereunder to any third party. The Company’s rights under
							the Terms of Use are freely transferable by the Company to any third party
							without the requirement of seeking Your consent.
						</p>
						<p>
							c) Severability: If, for any reason, a court of competent jurisdiction
							finds any provision of the Terms of Use, or any portion thereof, to be
							unenforceable, that provision shall be enforced to the maximum extent
							permissible so as to give effect to the intent of the parties as reflected
							by that provision, and the remainder of the Terms of Use shall continue in
							full force and effect.
						</p>
						<p>
							<strong>d) </strong>
							Waiver: Any failure by the Company to enforce or exercise any provision of
							the Terms of Use, or any related right, shall not constitute a waiver by
							the Company of that provision or right.<strong><u></u></strong>
						</p>
						<p>
							<strong><u></u></strong>
						</p>
						<p>
							<strong>17. </strong>
							<strong><u>Arbitration</u></strong>
						</p>
						<p>
							a) If any dispute arises in respect of this Agreement, the parties agree to
							submit the matter to settlement proceedings under the rules of the
							Arbitration and Conciliation Act, 1996, (the ‘Act ‘) as applicable for the
							time being in force.
						</p>
						<p>
							b) The place of the Arbitration will be Mumbai and the language of the
							proceedings will be English.
						</p>
						<p>
							c) You hereto also agree that the matter will be referred to a sole
							Arbitrator to be appointed by the said Company and you hereto shall not
							raise any dispute at any point of time for the same appointment.
						</p>
						<p>
							d) The arbitral award shall be in writing and shall be final and binding on
							the parties. Judgment upon the award may be entered in any court having
							jurisdiction thereof;
						</p>
						<p>
							e) Subject to the above, the courts of Mumbai shall have exclusive
							jurisdiction in respect of this Agreement.
						</p>
						<p>
							<strong></strong>
						</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
</div>
{% endblock %}
