# IDE files and virtual environment
venv/
.venv/
.idea/
env/
envk/
*.log
*.pot
*.pyc
.vscode
postgres.txt
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.test.py
test.py
consideration.txt
stunnel/
products/migrations/0001_initial.py
*/migrations/*
*/migrations/*.py
*.sql