{% extends 'subscriptions/base.html' %}
{% load define_action %}

<!-- {% load static %} -->

{% block css_imports %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/plans.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/services.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/products_css.css' %}">

{% endblock %}
{% block js_imports %}	
<script>
		$(document).ready(()=>{
			// console.log("Will change css.")
			$("nav").attr({style : "background-color: rgb(225,238,252)!important"});      
		})
</script>
	<!-- <script src="{% static '/js/plans.js' %}" type="text/javascript"></script> -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" >

   <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  
   <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script> -->
   
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
   <script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>
   <!-- <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> -->
   <!-- <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
   <script src="https://unpkg.com/vue-multiselect@2.1.2"></script>
   

   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


     
   <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

   	<script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>


{% endblock %}

<style>

</style>

{% block subscriptions_content %}

<div id="csrf_token">
{% csrf_token %}
</div>

<div class="top-banner">
	<div class="container v_center">
	  <div class="row">
	  <div class='col-md-7'>
		<p>
			<span class="max_font mr-5">Mercury</span> 
			<br class="d-md-none">
			<span class="m-5 min_font">Jupiter</span>  
			<br class="d-md-none">
			<span class="m-5 min_font">Trading Solutions</span>
			<br class="d-md-none">
		</p>	

		<p class="normal_font mt-5">
		Spend less time and reap more benefits with this <br>
		tailor-made product for Traders and Investors
		</p>
		
		<br>
		<button class="btn btn-md text-light mt-3 dark_blue_color">
		  Start Your Free Trial  
		</button> 
	  </div>

		<div class="col-md-5 justify-content-center text-center hide_this_mobile">
			<img src="/static/img/mercury_prod_bg.svg" class="img-fluid"
			style="height: 65vh; width: 100vh; padding-bottom: 2rem; padding-left: 9rem;">
		</div>

	  </div>
	</div> <!-- container ends -->
</div> <!-- top banner ends -->



    <!-- __________________cards container start_________________ -->
    <!-- <div class="container mt-5 justify-content-center">
		<div class="row d-flex justify-content-center">
		<div class="col-md-7">
		  <div class="card-deck mb-3 text-center" style="">
		
			<div class="card mb-4 shadow-sm">
			  <div class="card-header dark_blue_color text-light rounded shadow-lg">
				<h4 class="my-0 font-weight-normal">&#x20b9; 5000 <small class="text">/ mo</small></h4>
			  </div>
			  <div class="card-body">
				<h1 class="card-title pricing-card-title">BASIC</h1>
				<ul class="list-unstyled mt-3 mb-4">
				  <li>Intraday</li>
				  <li>BTST</li>
				  <li>Positional</li>
				  <li>Long Term</li>
				</ul>
				<button class="btn btn-sm dark_blue_color text-light">Subscribe</button>
			  </div>
			</div>
		
			<div class="card mb-4 shadow-sm">
			  <div class="card-header dark_blue_color text-light rounded shadow-lg">
				<h4 class="my-0 font-weight-normal">&#x20b9; 9000 <small class="text">/ mo</small></h4>
			  </div>
			  <div class="card-body">
				<h1 class="card-title pricing-card-title">PREMIUM</h1>
				<ul class="list-unstyled mt-3 mb-4">
				  <li>Intraday</li>
				  <li>BTST</li>
				  <li>Positional</li>
				  <li>Long Term</li>
				</ul>
				<button class="btn btn-sm dark_blue_color text-light">Subscribe</button>
			  </div>
			</div>
		
		  </div>
		</div>
		</div>
	  </div> -->
	<!-- __________________cards container end_______________ -->
	
<div id="app">
<app>
</app>
</div>

<div class="container">
<ul class="accordion" style="list-style: none;">
	<li>
		<a>What happens when my free trials expires ?</a>
		<p> - text here - </p>
	</li>
	<li>
		<a>Do you offer Discounts ?</a>
		<p>- text here -</p>
	</li>
	<li>
		<a>Can I pay for my Team ?</a>
		<p>- text here -</p>
	</li>
  	<li>      
	<a>Which payment methods are available ?</a>
		<p>- text here -</p>
	</li>
  	<li>
	<a>Can I unsubscribe anytime in between?</a>
		<p>- text here -</p>
	</li>
  	<li>
	<a>Can I get extended trial period ?</a>
		<p>- text here -</p>
	</li>
</ul> <!-- / accordion -->
</div>

{% endblock %}

{% block scripts %}


<script>

  (function($) {
    // $('.accordion > li:eq(0) a').addClass('active').next().slideDown();
	
    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');
		console.log("inside FAQ")
        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });

	})(jQuery);

  </script>



<script src="/static/js/data/mercury-product-data.js"></script>
<script src="/static/js/vue/store/mercury-product-store.js"></script>

<script src="/static/js/vue/templates/mercury-product-template.js"></script>
<script src="/static/js/vue/components/mercury-product-component.js"></script>
<script src='/static/js/vue/app/mercury-product-app.js'></script>



<script>start_app()</script>


{% endblock %}