{% extends 'subscriptions/base.html' %}

{% block subscriptions_content %}
<br>
<br>

<div class="container mt-5">
    <h1 class="display-4 mb-3">Plan Details</h1>
    <!-- <div class="row">
        <div class="col-md-6 input-group">
            <form action="subscribe" method="POST">
                {% csrf_token %}
                <label for="plan_name">plan name </label>
                <input id="plan_name" name="plan_name" class="input" value="{{ plan.plan_name }}" readonly><br>
                <input id="price_per_month" name="price_per_month" class="input" value="{{ plan.price_per_month }}" readonly><br>
                <input id="price_per_year" name="price_per_year" class="input" value="{{ plan.price_per_year }}" readonly><br>
                <input id="t_delta" name="t_delta" class="input" value="30" readonly><br>
                <input type="submit" value="Get This Plan" class="btn btn-dark" onclick="location.href='/user/profile/info'">  
            </form>
            <hr>
        </div>
    </div> -->


    
    <form action="subscribe" method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label for="plan_name">Plan Name</label>
            <input id="plan_name" name="plan_name" class="input form-control bg-light" value="{{ plan.plan_name }}" readonly><br>
        </div>
        <div class="form-group">
            <label for="plan_name">PPM</label>
            <input id="price_per_month" name="price_per_month" class="input form-control bg-light" value="{{ plan.price_per_month }}" readonly> 
        </div>
        <div class="form-group">
            <label for="plan_name">PPA</label>
            <input id="price_per_year" name="price_per_year" class="input form-control bg-light" value="{{ plan.price_per_year }}" readonly><br>
        </div>
        <div class="form-group">
            <label for="plan_name">Plan duration</label>
            <input id="t_delta" name="t_delta" class="input form-control bg-light" value="30" readonly><br>   
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Emails</label>
            <input name="group_emails" class="form-control" id="group_emails" rows="3"></input>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        <input type="submit" value="Get This Plan" class="btn btn-dark mt-3" onclick="location.href='/user/profile/info'">  
    </form>

</div>
<br>
<br>

{% endblock %}