{% extends 'subscriptions/base.html' %}

{% block subscriptions_content %}
<br>
<br>
    <!-- -----------------------------fresh down---------------------------- -->
<div class="container mt-5">
    <h1 class="display-4">All Plans</h1>
    <!-- <div class="row mt-5">
    {% for plan in plans %}
        <div class="col-md-4">                
            <div class="card border-dark mb-3 rounded">
                <div class="card-header font-weight-bold text-center"><h2>{{plan.plan_name}}</h2></div>
                <div class="card-body text-dark">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                ppm &#x20B9; {{plan.price_per_month}}<small class="text-muted">/ mo</small></li>
                        <li class="list-group-item">
                                ppa &#x20B9; {{plan.price_per_year}}<small class="text-muted">/ year</small></li>
                    </ul>
                <button class="btn btn-block btn-dark mt-3" onclick="location.href= 'plan_overview/{{plan.plan_name}}'">
                View
                </button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div> -->
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active btn-lg" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-controls="pills-individual" aria-selected="true">Individual</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-lg" id="pills-group-tab" data-toggle="pill" href="#pills-group" role="tab" aria-controls="pills-group" aria-selected="false">Group</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
            <div class="row mt-5">
            {% for plan in iplans %}
                <div class="col-md-4">                
                    <div class="card border-dark mb-3 rounded">
                        <div class="card-header font-weight-bold text-center"><h2>{{plan.plan_name}}</h2></div>
                        <div class="card-body text-dark">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        ppm &#x20B9; {{plan.price_per_month}}<small class="text-muted">/ mo</small></li>
                                <li class="list-group-item">
                                        ppa &#x20B9; {{plan.price_per_year}}<small class="text-muted">/ year</small></li>
                            </ul>
                        <button class="btn btn-block btn-dark mt-3" onclick="location.href= 'plan_overview/{{plan.plan_name}}'">
                        View
                        </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="pills-group" role="tabpanel" aria-labelledby="pills-group-tab">
            <div class="row mt-5">
                    <div class="col-md-4">                
                        <div class="card rounded shadow mt-3 border-light rounded-pill">
                            <div class="text-center pt-4"><h2>Basic</h2></div>
                            <div class="card-body text-dark">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">                
                        <div class="card rounded shadow mt-3 border-light rounded-pill">
                            <div class="text-center pt-4"><h2>Premium</h2></div>
                            <div class="card-body text-dark">
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">                
                        <div class="card rounded shadow mt-3 border-light rounded-pill">
                            <div class="text-center pt-4"><h2>Basic</h2></div>
                            <div class="card-body text-dark">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
</div>
<br>
<br>
{% endblock %}