.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
}


.fab{
    color:white;
    margin-left:1.5rem;
    margin-right:1.5rem;
}
.fa-f:hover{
    color:#3B5998;
}
.fa-t:hover{
    color:#1DA1F2;
}
.fa-l:hover{
    color:#0073B0;
}
.fa-q:hover{
    color:#B92B27;
}

#page-contentx {
flex: 1 0 auto;
}

#sticky-footerx {
flex-shrink: none;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
li > .navbar-all > a{
    color: #2e2e2e;;
}

li > .navbar-all:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
#logout-btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* #logout-btn:hover{
    color:#1DA1F2;
} */
/* #logout > button{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
} */
/* 
#logout > button:hover, button:active{
    border: none;
} */

@media (max-width : 786px){
    #dropdown-li > ul > li {
        text-align: center;
    }
}
/* .logout-btn{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
} */