
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans' !important;
}

.navbar {
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    background: white;
    box-shadow: 2px 2px 5px black;
}

.modal-body {
    padding: 25px;
}

.modal-body > .form-group {
    text-align: left;
}

.modal-body > .form-group > label {
    padding-right: 10px;
}

.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}

.open > .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
    width: fit-content;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #004B96;
}

#table-wrapper{
    margin:auto;
    width: 100%;
    box-shadow: 0 1px 3px rgba(60,64,67, 0.3), 0 4px 8px 3px rgba(60,64,67, 0.15);
    background: white;
    border-radius: 20px;
}

/* .table{
    max-height: 100vh;
    margin-bottom: 0px;
    display: inline-block;
    overflow-y: fixed;
} */

/* .table>tbody{
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    display: inline-block;
} */


.rounded {
    border-radius: 20px !important;
}

.trade_action {
    margin-top: 10px;
    /* float: right; */
    font-size: 16px !important;
    padding: 10px !important;
    /* width: 15%; */
}

.table-striped > tbody > tr:nth-child(even) {
   background-color: #e1f0fc;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: white;
 }

 .on_hover .formula {
    font-size: small;
    display: block;
    background: #f0f0f0;
    color: black;
    position: absolute;
    width: inherit;
    visibility: hidden;
 }

 .on_hover:hover .formula {
     visibility: visible;
 }

 .hover-pointer {
    cursor: pointer;    
 }

 .hover-pointer:hover{
    /**box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important; **/
 }

 .disabled {
     background-color: #E8E8E8 !important;
     color: #000000 !important;
     opacity: 0.5 !important;
 }
 .follow_trade {
     background-color: #e3f2fd!important;
     border-color: #004B96 !important;
     border-width: 0.1rem !important;    
     box-sizing: border-box !important; 
 }
 .shadow-bottom {
    box-shadow: 5px 3px 8px #888888!important
 }

 #trade_form {
    text-align: left;
    position: relative;
 }

 .modal-content, .modal-header {
    border-radius: 20px;
 }

 .BUY_btn, .SELL_btn {
    border-radius: 4px;
    letter-spacing: 1px;
    border: none;
    font-size: 12px;
    min-width: 3.5rem;
    padding: 2px 6px;
 }

 .BUY_btn:hover, .SELL_btn:hover {
    box-shadow: 0 0 5px 1px black;
 }

 .BUY_header, .SELL_header {
    border-radius: 2px 2px 0 0 !important;
 }

.BUY_btn, .BUY_header {
    background: #004b96;
    color: white;
}

.SELL_btn, .SELL_header {
    background: #7DDCFF;
    color: dimgray;
}

.active_status, .inactive_status, .hit_status, .miss_status, .partialhit_status {
    font-size: 12px;
    font-weight: 700;
    width: 5rem;
    /* height: 2rem; */
    text-align: center;
    padding: 5px 3px;
    letter-spacing: 1px;
    color: white;
    opacity: 1 !important;
}

.total--text{
    color: #0073C6;
}

.total{
    background-color: #0073C6;
}

.active_status--text {
    color: #2589EC;
}

.active_status {
    background: #2589EC;
}

.miss_status--text {
    color: #DA0000;    
}

.miss_status {
    background: #DA0000;    
}

.hit_status--text {
    color: #1BC100;
}

.hit_status {
    background: #1BC100;
}

.partialhit_status--text {
    color: #26EF05;
}

.partialhit_status {
    background: #26EF05;
}

.inactive_status--text {
    color: dimgray;
}

.inactive_status {
    background: dimgray;
    color: white;
}

.inactive--text {
    color: dimgray;
}

.inactive {
    background: dimgray !important;
    color: white !important;
}

.count_display {
    color: dimgray;
    padding-top: 6px;
    letter-spacing: 1px;
    text-align: center;
}

.count_display .param {
    font-weight: 500 !important;
    font-size: 14px;
}

.count_display .value {
    color: darkslategray;
    font-weight: 600 !important;
    font-size: 16px;
}

.filter, .download, .refresh {
    color: #004b96;
    margin-right: 20px;
    background: transparent;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px !important;
    line-height: 1px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.filter:focus, .download:focus, .refresh:focus {
    border: none;
}

.multiselect.invalid .multiselect__tags,
.multiselect.invalid .multiselect__tags span,
.multiselect.invalid .multiselect__tags input {
    background-color: #7DDCFF;
}

.active-head{
    background: #004b96 !important;
    color: white !important;
}

.header-btn{
    background-color: white;
    color : black;
}

.as_checkbox {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

.as_radio {
    -webkit-appearance: radio; /* Chrome, Safari, Opera */
    -moz-appearance: radio;    /* Firefox */
    -ms-appearance: radio;     /* not currently supported */
}

.v-data-table th {
    font-size: 15px !important;
}

.v-data-table td {
    font-size: 13px !important;
}

h6 {
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004b96;    
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004b96;
  }

.table-settings--visible{
    display: block;
}

.table-settings--invisible{
    display: none;
}
#table-settings--desktop{
      position: absolute;
      width: 20rem;
      top: 22%;
      right: 10%;
      z-index: 67;
}

#table-settings--mobile{
    position: relative;
}

.head-tickers{
    color: black !important;
    font-size: 17px;
      
}

.head-ticks{
    color: #004b96;
    font-size: 15px;
}
.btn:focus{    
    box-shadow: none;
}