/* #ah-center {
    position: absolute;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(52,43,43,1);
    letter-spacing: 0.3px;
}


#ah-left, #ah-right {
    position: absolute;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(52,43,43,1);
    letter-spacing: 0.4px;
} */