*{
	font-family: 'Open Sans', sans-serif;
}
.top-banner{
    position: relative;
    background-color: #E1EEFC; 
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 150px 0 20px;
    font-size: 1.5em;
}
.card-header{
	max-width: 15rem;
	margin:0px auto;
	margin-top: -1rem;
	padding: 0px auto;
	/* padding-top: 5rem; */
}
/*.card-body{
	margin-bottom: 7rem
}*/
.card-footer{
	min-width: 5rem;
	margin: 0px auto;
	/*margin-top: 7rem;*/
	/*padding: 0px auto;*/
}
.img_resize{
	height: 5rem;
	width: 5rem;
}
.algo_gen_calls{
	height: 7rem;
	width: 9rem;
}

.container-fluid{
	background-color: #E1EEFC; 

}


/* for xl */

.custom-switch.custom-switch-xl .custom-control-label {
    /* padding-right: 4rem;
	padding-left: 4rem;
	padding-bottom: 2.5rem; */
	/* margin: 1rem 1rem 1rem 2rem; */
	margin-right: 4rem;
	margin-left: 2rem;
	margin-bottom: 5rem;
	margin-top: -0.5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
    width: calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    border-radius: calc(4rem - (2.5rem / 2));
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2.5rem - 0.25rem));
}

.list-group{
	background-color: #E1EEFC;
}
.list-group-item{
	background-color: #E1EEFC !important;
}

.dark_blue_color{
	background-color: #004b96 !important;
}
.light_blue_color{
	background-color: #E1EEFC;
}
.btn-group { 
	display: flex; 
	flex-direction: row; 
	/* width:15em; */
	background-color: white;
	/* border: 1px solid black; */
}

.btn-group button {
	width:4em;
	background-color: white; 
	border: 1px solid black; 
	color: black; 
	cursor: pointer;
	float: left; 
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  .btn-group button:hover {
	background-color: #004b96;
	color: white;
  }
  /* .max_font2{
	font-size: 35px;
	font-weight: bold;
	border-bottom: 2px solid #7DDCFF;
	/* margin: 0.5vw 2%;
  } */
  .max_font{
	  font-size: 35px;
	  font-weight: bold;
	  border-bottom: 4px solid #004b96;
  }
  /* .max_font2 {
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5px;
	position: relative;
  }
  .max_font2:after{
	  content: "";
	  position: absolute;
	  width: 30px;
	  height: 1px;
	  bottom: 0;
	  left: 25%;
	  align-content: center;
	  justify-content: center;
	  border-bottom:10px solid #7DDCFF;
  } */

/*  */
.max_font2{
	font-size: 35px;
	font-weight: bold;
	color:black;
	display:inline-block;
	position:relative;
  }
  .max_font2::after{
	content:'';
	height:5px;
	width:70px;
	background:#7DDCFF;
	position:absolute;
  /*   left:calc(50% - 10%); */
	margin:auto;
	bottom:-5px;
	left:0; 
	right:0;
  }

  /*  */
  .normal_font{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
  }
  .min_font{
	  font-size: 20px;
	  font-weight: bold;
  }
  
  .accordion {
	max-width: 100%;
	margin: 0 auto 100px;
	/* border-top: 1px solid #004b96; */
  }
  .accordion li {
	border-bottom: 1px solid #004b96;
	position: relative;
  }
  .accordion li p {
	display: none;
	padding: 10px 25px 30px;
	color: #000;
  }
  .accordion a {
	width: 100%;
	display: block;
	cursor: pointer;
	/* font-weight: 600; */
	line-height: 3;
	font-size: 14px;
	font-size: 0.875rem;
	text-indent: 15px;
	user-select: none;
	color : #004b96;
  }
  .accordion a:after {
	width: 8px;
	height: 8px;
	border-right: 1px solid #004b96;
	border-bottom: 1px solid #004b96;
	position: absolute;
	right: 10px;
	content: " ";
	top: 17px;
	transform: rotate(-45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }
  .accordion p {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 2;
	padding: 10px;
  }
  
  a.active:after {
	transform: rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }

/* .yellow-banner{
	position: absolute !important; 
	width: 40vh !important; 
	left: -20vh !important;
} */

.yellow-banner{
    position: absolute !important;
    width: 52vh !important;
    /* height: 10vh; */
    top: -14px !important;
    left: -26vh !important;
}
.v_center{
	align-content: center;
}

@media (min-width: 0px) and (max-width: 500px) {
	.hide_this_mobile {display:none;}
	
	.width_reduce{
		width: 30vh !important;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.yellow-banner{
		position: absolute !important;
		width: 86vh !important;
		/* height: 10vh; */
		top: -42px !important;
		left: -43vh !important;
	}
	#reduce_margin{
		margin-top: 6vh !important;
	}
	.width_reduce{
		width: 25vh !important;
	}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.yellow-banner{
		position: absolute !important;
		width: 26vh !important;
		left: -13vh !important;
		top: 0px !important;
	}
	.width_reduce{
		width: 25vh !important;
	}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.yellow-banner{
		position: absolute !important; 
		width: 34vh !important; 
		left: -17vh !important;
		top: 0px !important;
	} 
	.width_reduce{
		width: 36.3vh !important;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.yellow-banner{
		position: absolute !important; 
		width: 40vh !important; 
		left: -20vh !important;
		top: 0px !important;
	}
	.hide_this_desktop{
        display:none;
	} 
	.width_reduce{
		width: 36.3vh !important;
	}
}


.highlight_hover:hover{
	font-size: 25px;
	font-weight: bold;
	border-bottom: 4px solid #004b96;
}
nav{
	background-color: #e1eefc;
}
.navbar{
	background-color: #e1eefc;
}

.smart_text::before {
		content: "Smart I";
		background-color : #E1EEFC;
		font-size: 35px;
		font-weight	: bold;
		padding-left: 15px;
}
.not_smart_text{
	font-size: 35px;
	font-weight	: bold;
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}