.closex {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.closex:hover, .closex:focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.closex:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.closex {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.alert-dismissible .closex {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}