.xx-large{
    font-weight: 700;
    font-size: xx-large;
}

.x-large{
    font-weight: 700;
    font-size: x-large;
}

.content-heading{
    font-size: large;
}

.light{
    font-weight: 500;
}

.content-para{
    font-size: 20px;   
}
.content-para-sm{
    font-size: 19px;   
}

.disabled-look{
    color: rgb(102, 102, 102);
}

.dark-blue{
    color : #004B96;
}
.dark-blue-bg{
    background-color : #004B96;
}

.light-blue{
    color : #7DDCFF;
}

.light-blue-bg{
    background-color : #7DDCFF;
}
.background-light-blue{
    background-color : #7DDCFF;
}

.light-border-bottom{
    border-bottom: #7DDCFF;
    border-width: thick;
}

.border-solid{
    border-width: thick;
}
.white{
    color: white;
}
.white-bg{
    background-color: white;
}

.light-gray{
    color : #848484
}

.light-gray-bg{
    background-color : #848484
}

.dark-gray{
    color:#515151;
}

.ll-gray{
    color:#f7f7f7;
}
.ll-gray-bg{
    background-color:#f7f7f7 !important;
}

.rounded-large{
    border-radius: 40px;
}