{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<samp>
    <div class="jumbotron jumbotron-fluid bg-primary">
		<div class="container">
			<h1 class="display-5 text-white">Algonauts</h1>
			<p class="lead"></p>
		</div>
    </div>
    
    <div class="container-fluid bg-white bg mt-5">  
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 shadow-lg p-3 mb-5 bg-white rounded ">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class = "btn btn-block btn-outline-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</samp>
{% endblock %}
