{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <samp>
        <div class="container-fluid bg-white bg mt-5">  
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-md-3 shadow-lg p-3 mb-5 bg-white rounded ">
        
                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" value="{% trans 'change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>  
        </div>
    </samp>
{% endblock %}
