{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<samp>
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <h1 class="display-5 text-white">Algonauts</h1>
      <p class="lead"></p>
    </div>
    </div>
  
  <div class="container-fluid bg-white bg mt-5">  
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-3 border rounded p-4 shadow-lg">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-block btn-outline-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
