{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta name="theme" content="#004B96">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="FV4auFZ7htxbNwQnweEaYCJ3C4bNcPx3R5JC2H5-gZA" />
    <title>Algonauts Technologies</title>
    <link rel="icon" href="{% static 'algonauts.png' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="Algonauts is an Algo Trading firm that automates the trading decisions and systems. Trading strategies built on statistical and mathematical models to generate superior returns.">
    <meta name="keywords" content="Trading,Algo,Automate,India,Market,Stock">
    <meta name="author" content="Algonauts Technologies">

    {% block css_imports %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Patua+One|Ramabhadra|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700|Mukta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="https://kit.fontawesome.com/a26aa1e038.js" crossorigin="anonymous"></script>

    <!--Chatbot-->
      <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<mybot></mybot>


    {% block sidebar_wrapper %}
    {% if sidebar %}
    <nav class="container-fluid navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbarlogo" href="{%url 'index'%}"><img id="logo" src="{% static 'algotext.png' %}" width="150px"
                    height="auto"></a>
            <button type="button" id="toggleButton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" style="font-size:16px;">
            <ul style="text-align: center;" class="nav navbar-nav navbar-right">
                <li><a id="" style="cursor: pointer;" href="{%url 'home'%}">Blog</a></li>
                <li><a id="whatwedoicon" style="cursor: pointer;">What We Do?</a></li>
                <li><a id="aboutusicon" style="cursor: pointer;">About Us</a></li>
                <li><a id="productsicon" style="cursor: pointer;" href="#">Products</a></li>
                <!--<li><a href="#loginModal" class="trigger-btn" data-toggle="modal"><span class="	glyphicon glyphicon-user"></span> Login</a></li>-->
            </ul>
        </div>
        </div>
    </nav>
    {%else%}
    <nav class="container-fluid navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbarlogo" href="{%url 'index'%}"><img id="logo" src="{% static 'algotext.png' %}" width="150px"
                    height="auto"></a>
            <button type="button" id="toggleButton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" style="font-size:16px;">
            <ul style="text-align: center;" class="nav navbar-nav navbar-right">
                <li><a id="" style="cursor: pointer;" href="{%url 'home'%}">Blog</a></li>
                <li><a id="whatwedoicon" style="cursor: pointer;" href="{%url 'whatwedo'%}">What We Do?</a></li>
                <li><a id="aboutusicon" style="cursor: pointer;" href="{%url 'aboutus'%}">About Us</a></li>
                <li><a id="productsicon" style="cursor: pointer;" href="{%url 'products'%}">Products</a></li>
                <!--<li><a href="#loginModal" class="trigger-btn" data-toggle="modal"><span class="	glyphicon glyphicon-user"></span> Login</a></li>-->
            </ul>
        </div>
        </div>
    </nav>

    {% endif %}
    {% endblock sidebar_wrapper%}


    {% block content %}
    {% endblock content%}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{% static 'algonautsw.png' %}" width="20%"><br><br>
                    <h5><i class="glyphicon glyphicon-envelope" style="color: white;">&nbsp;<a
                                href="mailto:coreteam@algonauts.in" data-rel="external"
                                style="color: white;">sales@algonauts.in</a></i></h5>
                </div>

                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row footerc">
                                <p>Terms and Conditions</p>
                                <p>Privacy Policy</p>
                                <p>Disclaimer</p>
                            </div>
                            <br>
                            <div class="row footerc" style="padding:10px;">
                                <p>
                                    <a href="https://www.quora.com/profile/Algonauts-Technologies-1">
                                    <!--<img src="{% static 'quora.png' %}"></a>-->
                                </p>
                                <p>
                                    <a href="https://www.linkedin.com/in/algonauts-technologies/">
                                    <img src="{% static 'linkedin.png' %}"></a>
                                </p>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <p style="color: aliceblue;font-size:16px;">
                                    Find us at :<br>
                                    20, 2nd Floor, SP-TBI,<br> RPI Building,
                                    Next to Bhavans College Main Gate,<br>
                                    Munshi Nagar, Andheri West,
                                    Mumbai 400053
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="padding:10px; color:white;text-align: center; background-color:#3a3a3a;">
            <p>&copy;&nbsp;2019 Algonauts. All rights reserved</p>
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}

<script>
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('nav').attr('style', 'box-shadow:2px 2px 5px grey;');
                $('.navbar-collapse').attr('style', 'padding-top:10px;');
                $('.navbar-header').attr('style', 'padding-top:5px;padding-bottom:5px;padding-left:10px;');
                $('#logo').attr('style', 'transform: scale(0.8)');

                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(0.85)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(0.8)');
                });
            }
            if ($(this).scrollTop() < 200) {
                $('nav').attr('style', 'box-shadow:none;');
                $('.navbar-collapse').attr('style', 'padding-top:25px;');
                $('.navbar-header').attr('style', 'padding-top:18px;padding-left:10px;')
                $('#logo').attr('style', 'transform: scale(1)');
                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(1.1)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(1)');
                });
            }
        })
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
