{% load static %}



<!DOCTYPE html>

<html>

<head>
    <meta name="theme" content="#004B96">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="FV4auFZ7htxbNwQnweEaYCJ3C4bNcPx3R5JC2H5-gZA" />
    <title>Algonauts Technologies</title>
    <link rel="icon" href="{% static 'algonauts.png' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Algonauts is an Algo Trading firm that automates the trading decisions and systems. Trading strategies built on statistical and mathematical models to generate superior returns.">
    <meta name="keywords" content="Trading,Algo,Automate,India,Market,Stock">
    <meta name="author" content="Algonauts Technologies">
    
    {% block css_imports %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Patua+One|Ramabhadra|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700|Mukta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/accordion.js' %}"></script>
</head>

<body>
    {{ user.name }}
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{% static 'algonautsw.png' %}" width="20%"><br><br>
                    <h5><i class="glyphicon glyphicon-envelope" style="color: white;">&nbsp;<a
                                href="mailto:coreteam@algonauts.in" data-rel="external"
                                style="color: white;">sales@algonauts.in</a></i></h5>
                </div>

                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row footerc">
                                <p>Terms and Conditions</p>
                                <p>Privacy Policy</p>
                                <p>Disclaimer</p>
                            </div>
                            <br>
                            <div class="row footerc" style="padding:10px;">
                                <p>
                                    <a href="https://www.quora.com/profile/Algonauts-Technologies-1">
                                    <!--<img src="{% static 'quora.png' %}"></a>-->
                                </p>
                                <p>
                                    <a href="https://www.linkedin.com/in/algonauts-technologies/">
                                    <img src="{% static 'linkedin.png' %}"></a>
                                </p>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <p style="color: aliceblue;font-size:16px;">
                                    Find us at :<br>
                                    20, 2nd Floor, SP-TBI,<br> RPI Building,
                                    Next to Bhavans College Main Gate,<br>
                                    Munshi Nagar, Andheri West,
                                    Mumbai 400053


                            </p>
                        </div>




                    </div>

                </div>
            </div>
        </div>
        <div style="padding:10px; color:white;text-align: center; background-color:#3a3a3a;">
            <p>&copy;&nbsp;2019 Algonauts.All rights reserved</p>
        </div>
    </footer>
    {% block scripts %}

    {% endblock %}
</body>

</html>
