{% extends 'base.html' %}
{% load static %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

<!--<div id="loginModal" class="modal fade">-->
    <!--<div class="modal-dialog modal-login">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<div class="avatar" style="text-align:center;">-->
                    <!--<img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png" width="80px" height="80px" alt="Avatar">-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form action="" name="login" method="post">-->
                    <!--<div class="input-group">-->

                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
                        <!--<input type="text" class="form-control" name="username" placeholder="Username" required="required">-->
                    <!--</div>-->
                    <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                        <!--<input type="password" class="form-control" name="password" placeholder="Password" required="required">-->
                    <!--</div>-->
                    <!--<div class="form-group text-center">-->
                        <!--<button id="loginBtn" type="submit" name="submit" value="Login" class="btn btn-primary btn-md login-btn">Login</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<a href="{# url 'accounts:register' #}">Register Now</a>&nbsp;&nbsp;-->
                <!--<a href="#">Forgot Password?</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


{% block navbar_selector %}
    {% with Navbar=True%}
        {{ block.super }}
    {% endwith%}
{% endblock navbar_selector%}
<!--Navigation Bar Ends-->

{% block content %}
<!--Landing Page Banner Starts-->
<section id="landing-page">
    <div data-aos="zoom-in" data-aos-duration="2000" class="landing-page">
        <div class="landing-text">
            <h2>ALGONAUTS</h2>
            <h3>Automating <span id="typed" style="color: #001f9b"></span></h3>
            <h4>We develop algorithms by statistical & mathematical
                analysis to </span>create portfolios and execute trades.</h4>
        </div>
        <button id="downarrow" class="btn btn-lg btn-default">Get Started</button>
    </div>
</section>
<!--Landing Page Banner Starts-->

<!--What we do banner starts-->
<div class="container whatwedo" id="whatwedocont">
    <div style="margin:0% auto;" class="wwd-heading container">
    <h3 data-aos="fade-up">What We Do ?</h3>
    <hr data-aos="fade-up" class="classichr" style="margin:1vw 45%">
    </div>
    <div class="row container-fluid" style="padding-top:2%;">
        <div data-aos="fade-up" data-aos-duration="1000" class="col-md-6">
            <ul>

                <li>Develop and provide algorithms for trading financial markets using Technical Analysis</li>
                <li>Generate Buy/Sell calls using complex formulas developed with expertise and skills</li>
                <li>Build automated trading systems to seamlessly execute the trades</li>
                <li>Rigorously back-test to improve accuracy, optimize the strategy and minimize errors</li>
                <li>Employ advanced analysis to enhance performance and make good consistent returns</li>
                <li>Strengthen ROCE by adapting better capital management techniques</li>
            </ul>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="col-md-6 text-center">
            <img src="{% static 'whatwedo.png' %}" width="82%" height="auto">
        </div>
    </div>
</div>
<!--What we do banner ends-->

<!--How we Do it banner starts-->
<div class="container-fluid hwd">
    <div class="container hwdcontainer" id="howwedocont">
        <div class="hwdheading">
            <p data-aos="fade-up">How We Do It ?</p>
            <hr data-aos="fade-up" class="classichr">
        </div>

        <div class="row row-eq-height howwedobann container-fluid">
            <a href="{% url 'whatwedo' %}#Section1" title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">

                    <div class="content">
                        <img src="{% static 'whatwedo/prizeanalysis.png' %}">
                        <h2>Price Analysis</h2>
                        <p> Historical price charts are processed to generate target price & stop loss combination to
                            maximize
                            profits.</p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'whatwedo' %}#Section2" title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">

                    <div class="content">
                        <img src="{% static 'whatwedo/returnanalysis.png' %}">
                        <h2>Return Analysis</h2>
                        <p>Returns with respect to the capital utilized are analyzed to grade an algorithm based on its
                            ROCE.
                        </p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'whatwedo' %}#Section3 " title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">
                    <div class="content">
                        <img src="{% static 'whatwedo/variationanalysis.png' %}">
                        <h2>Variation Analysis</h2>
                        <p>Not just returns but its variation over time too is taken into consideration to reduce
                            volatility.
                        </p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="row row-eq-height howwedobann container-fluid">
            <a href="{% url 'whatwedo' %}#Section4" title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">
                    <div class="content">
                        <img src="{% static 'whatwedo/portfoliocreation.png' %}">
                        <h2>Portfolio Creation</h2>
                        <p>Portfolios of algorithms best suited to invested capital are engineered by analysing the
                            correlation.
                        </p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'whatwedo' %}#Section5" title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">

                    <div class="content">
                        <img src="{% static 'whatwedo/tradesimulator.png' %}">
                        <h2>Trade Simulation</h2>
                        <p>Real-time virtual performance is computed by simulating the portfolio in relation to invested
                            capital.</p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'whatwedo' %}#Section6" title="Click to know more">
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-4">

                    <div class="content">
                        <img src="{% static 'whatwedo/multitradingstrat.png' %}">
                        <h2>Trading Strategies</h2>
                        <p>Multiple trading strategies can be deployed to execute a call based on investors’ risk
                            appetite
                            and
                            preference.</p>
                        <div class="knowmore">
                            <p>Know More&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!--How we Do it banner ends-->

<!--About Us Banner Starts-->
<div data-aos="fade-up" data-aos-duration="1000" class="container-fluid" id="aboutuscont">

    <div class="row container-fluid">
        <div class="col-md-8">
            <div class="content">
                <h3 style="text-align:left;color:black;font-size:350%;margin: 2% 0%">About Us</h3>
                <p class="banner-text" style="margin: 5% 0%">
                    Algonauts is a team of finance and technology professionals with combined experience over 20 years.
                    We as a firm strongly believe that algorithmic trading is the future, and is a way to trade and make
                    money in the markets. Extensive use of technology and numerous years of experience in stock market
                    empower us to build new algorithms. With an aim to bridge the gap between technology and
                    quantitative world, and to generate consistent superior returns we started this firm.
                </p>
                <div class="knowmore">
                    <a href="{% url 'aboutus' %}" title="Click to know more">
                        <p>Know More&nbsp;&nbsp;</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abtimg">
                <img src="{% static 'aboutus.png' %}" width="80%" height="auto">
            </div>
        </div>
    </div>
</div>
<!--About Us Banner Ends-->

<!--Products and Services Banner Starts-->
<div class="container-fluid pcontainer" id="productscont">

    <div class="pheading">
        <h1 data-aos="fade-up" data-aos-duration="500">Products & Services</h1>
        <hr data-aos="fade-up" data-aos-duration="700"class="classichr">
    </div>

    <div data-aos="fade-up" data-aos-duration="1000" class="row productsb">
        <div class="col-md-6 productsbox">
            <div class="row content">
                <div class="col-md-8">
                    <h3>Calls Generator</h3>
                    <p>Generates Buy/Sell/Wait calls along with the target price and stop loss which can be traded in
                        live market</p>
                    <div class="knowmore">
                        <a href="{% url 'products' %}#callsgen" title="Click to know more">
                            <p>Know More&nbsp;&nbsp;</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'products/callgen.png' %}">
                </div>
            </div>
        </div>

        <div class="col-md-6 productsbox">
            <div class="row content">
                <div class="col-md-8">
                    <h3>Portfolio Manager</h3>
                    <p>Builds, manages and trades portfolios in real-time using the combination best suited to capital
                        invested</p>
                    <div class="knowmore">
                        <a href="{% url 'products' %}#portfolio" title="Click to know more">
                            <p>Know More&nbsp;&nbsp;</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'products/portfoliomanager.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Products and Services Banner Ends-->

<!--Contact Us Section Starts Here-->
<div class="container-fluid contactus" >
    <section id="contact" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
          <div class="heading" style="margin:3% 10%">
            <h3 style="color: white;
            font-size: 3vmax !important;
            text-align: center;">Contact Us</h3>
            <hr data-aos="fade-up" style="margin: 0.5vw 45%;" class="classichr">
          </div>
          
          <div class="row">
            <div class="col-md-7">
              <iframe src="https://maps.google.com/maps?q=SPTBI&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <h4><strong>Get in Touch</strong></h4>
              <form action="#" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input id="name" type="text" class="form-control" name="" value="" placeholder="Name">
                </div>
                <div class="form-group">
                  <input id="mobileno" type="tel" class="form-control" name="" value="" placeholder="Phone">
                </div>
                <div class="form-group">
                  <textarea id="ta1" class="form-control" name="" rows="5" placeholder="Message"></textarea>
                </div>
                <a id="sendEmail" class="btn btn-default" href ="mailto:coreteam@algonauts.in?subject=Feedback&body=">
                    <i class="far fa-paper-plane"></i>&nbsp;Submit</a>
              </form>
            </div>
          </div>
        </div>
      </section>
</div>
<!--Contact Us Section Starts Here-->
{% endblock %}

{% block scripts %}
<script>

    //To handle contact us query
    $('#ta1').change(function(){
        var name = $('#name').val();
        var number = $('#mobileno').val();
        var msg = $('#ta1').val();
        msg = msg+'%0D%0ARegards,%0D%0A'+name+'%0D%0A'+number;
        var link = $('#sendEmail').attr("href");
        var body=link+msg;
        $('#sendEmail').attr("href",body);
    });

   AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: true, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
    function readMore() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }

    var typed = new Typed('#typed', {
        strings: ["Trade Decisions", "Trading Systems", "Portfolio Management"],
        backDelay: 1200,
        backSpeed: 30,
        typeSpeed: 60,
        loop: !0
    });

    $(document).ready(function () {
        $("#logo").hover(function () {
            $("#logo").attr('style', 'transform:scale(0.85)')

        });
    });

    $(document).ready(function () {
        $("#downarrow").click(function () {
            $('html, body').animate({
                scrollTop: $("#whatwedocont").offset().top - 60
            }, 500);
        });
    });

    $(document).ready(function () {
        $("#aboutusicon").click(function () {
            $('html, body').animate({
                scrollTop: $("#aboutuscont").offset().top - 60
            }, 100);
        });
    });

    $(document).ready(function () {
        $("#whatwedoicon").on('click', function () {
            $('html, body').animate({
                scrollTop: $("#whatwedocont").offset().top - 60
            }, 100);
        });
    });

    $(document).ready(function () {
        $("#productsicon").click(function () {
            $('html, body').animate({
                scrollTop: $("#productscont").offset().top - 60
            }, 100);
        });
    });


   $(document).ready(function () {
        $("body").click(function (e){

            if($(e.target).is("#toggleButton")){
                return;
            }
            else
            {
                if ($("#myNavbar").hasClass("in"))
                {
                    $("#myNavbar").removeClass("in", 1000);
                    $("#myNavbar").attr('aria-expanded', 'false');
                    $("#toggleButton").attr('aria-expanded');
                    $("#toggleButton").addClass('collapsed');
                }
            }
        });
    });

</script>
{% endblock %}