{% extends 'base.html' %}
{% load static %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/whatwedo.css' %}">
{% endblock %}

{% block sidebar_wrapper %}
    {% with sidebar=False%}
        {{ block.super }}
    {% endwith%}
{% endblock sidebar_wrapper%}

{% block content %}

<div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="avatar" style="text-align:center;">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png" width="80px" height="80px" alt="Avatar">
                    
                </div>

            </div>
            <div class="modal-body">
                <form action="" name="login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" value="Login" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#">Register Now</a>&nbsp;&nbsp;
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>








<div style="height: 100px"></div>
<div class="heading container">
    <h2>What We Do ?</h2>
</div>


<div class="container wrapper">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="navoverride" role="tablist">
                    <li role="presentation" id="navSection1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Price Analysis</a></li>
                    <li role="presentation" id="navSection2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Return Analysis</a></li>
                    <li role="presentation" id="navSection3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Variation Analysis</a></li>
                    <li role="presentation" id="navSection4"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Portfolio Creation</a></li>
                    <li role="presentation" id="navSection5"><a href="#Section5" aria-controls="messages" role="tab" data-toggle="tab">Trade Simulation</a></li>
                    <li role="presentation" id="navSection6"><a href="#Section6" aria-controls="messages" role="tab" data-toggle="tab">Multiple Trading Strategies</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs" id="tabswrapper">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h3>Price Analysis</h3>
                        <div >
                            <ul class="itemlist" style="padding-inline-start:5%">
                
                                <li>Algorithm generates target price & stop loss combination by analyzing the historical chart
                                </li>
                                <li>This combination maximizes probability of making profits over given time horizon for a given
                                    algorithm
                                </li>
                                <li>Signal-to-signal trading is completely avoided by having a target price and stop loss</li>
                                <li>Being in the market full-time is the surest way for an algorithm to lose money
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h3>Return Analysis</h3>
                        <ul class="itemlist" style="padding-inline-start: 5%">
                            <li>Absolute profit numbers are not sufficient to generate good returns, high profits could reduce
                                returns if its capital utilization is high</li>
                            <li>Analysis of profit numbers with respect to capital utilization is done to grade each algorithm
                            </li>
                            <li>Inferior algorithms are dropped to maintain the quality ROCE which captures the real returns instead
                                of looking at profit numbers in an isolation</li>
                        </ul>
                    </div>


                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <h3>Variation Analysis</h3>
                        <ul class="itemlist" style="padding-inline-start: 5%">
                            <li>Not only returns but also its variation over time is analyzed using backtesting</li>
                            <li>Substandard algorithms are filtered out, for eg. algo losing over 25% a year or having consecutive
                                years of negative returns etc
                            </li>
                            <li>Variations need to be analyzed both at algorithm and portfolio level to reduce volatility
                            </li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Section4">
                        <h3>Portfolio Creation</h3>
                        <ul class="itemlist" style="padding-inline-start: 5%">
                            <li>The portfolio is as important as the algorithm itself</li>
                            <li>Correlation of the constituents, drawdown and capital utilization patterns are taken into
                                consideration while building the portfolio</li>
                            <li>Portfolio building tools build portfolios best suited to the capital invested and investors’
                                requirements</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Section5">
                        <h3>Trade Simulation</h3>
                        <ul class="itemlist" style="padding-inline-start: 5%">
                            <li>A back-tested portfolio comes with the caveat “Historical returns may not be repeated in the
                                future”</li>
                            <li>Trade simulation of portfolios is done in real-time to give you a feel of the performance in live
                                market conditions</li>
                            <li>Real trading decisions are benefited from the simulation as it can dynamically identify the best
                                performing algo when there are multiple simultaneous calls</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="Section6">
                        <h3>Multiple Trading Strategies</h3>
                        <ul class="itemlist" style="padding-inline-start: 5%">
                            <li>Every call can be traded with different strategies</li>
                            <li>The strategies are designed based on the liquidity, volatility and risk appetite</li>
                            <li>Trades can vary from calls depending on investors’ style and preference</li>
                            <li>Several trading strategies are already built and can be customised to meet investors’ expectations
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div> 
</div>
{% endblock %}

{% block scripts %}
 
<script>

getAccordion("#navoverride",768);

    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('nav').attr('style', 'box-shadow:2px 2px 5px grey;');
                $('.navbar-collapse').attr('style', 'padding-top:10px;');
                $('.navbar-header').attr('style', 'padding-top:5px;padding-bottom:5px;padding-left:10px;');
                $('#logo').attr('style', 'transform: scale(0.8)');


                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(0.85)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(0.8)');
                });
            }
            if ($(this).scrollTop() < 200) {
                $('nav').attr('style', 'box-shadow:none;');
                $('.navbar-collapse').attr('style', 'padding-top:25px;');
                $('.navbar-header').attr('style', 'padding-top:18px;padding-left:10px;')
                $('#logo').attr('style', 'transform: scale(1)');
                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(1.1)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(1)');
                });
            }
        })
    });

    $(document).ready(function () {
        $("#logo").hover(function () {
            $("#logo").attr('style', 'transform:scale(0.85)')

        });
    });

    $(document).ready(function () {
        $("body").click(function () {
            if ($("#myNavbar").hasClass("in")) {
                $("#myNavbar").removeClass("in", 1000);
                $("#myNavbar").attr('aria-expanded', 'false');
            }
        });
    });


</script>
{% endblock %}