{% extends 'base.html' %}
{% load static %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
{% endblock %}

{% block navbar_selector %}
    {% with Navbar=False%}
        {{ block.super }}
    {% endwith%}
{% endblock navbar_selector%}

{% block content %}

<div class="jumbotron text-center" style="background-color: rgb(242,248,248);">
    <div class="container">
    <h1 class="display-5">About Us</h1>
    <p class="lead text-justify mt-4 mb-3">
            Algonauts is a team of finance and technology professionals with combined experience 
            over 20 years. We as a firm strongly believe that algorithmic trading is the future, 
            and is a way to trade and make money in the markets. Extensive use of technology and 
            numerous years of experience in stock market empower us to build new algorithms. 
            With an aim to bridge the gap between technology and quantitative world, and to 
            generate consistent superior returns we started this firm.
    </p>
    </div>
</div>

<!--  -->

<div class="container text-center mt-5">
        <div class="row md-12 mb-2">

            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/about-us-img.png" width="80%" height="85%">
            </div>

            <div class="col-md-6">
                <div class="row text-center justify-content-around">
                    
                    <div class="col-md-5 border rounded-b">
                        
                        <div class="pt-3">
                            <div style="background-color: rgb(242,248,248);">
                                <strong class="d-inline-block mb-2 lead font-weight-bold">
                                    Our Mission
                                </strong>
                            </div> 
                            <p class="lead text-justify p-3">
                            We aim to bridge the gap between Technology and Quantitative World 
                            and to generate consistent superior results.
                            </p>
                        </div>

                    </div>
                    <div class="col-md-2 mb-2">  </div>
                    <div class="col-md-5 border rounded-b">

                        <div class="pt-3">
                            <div style="background-color: rgb(242,248,248);">
                                <strong class="d-inline-block mb-2 lead font-weight-bold">
                                    Our Belief
                                </strong>
                            </div>
                            <p class="lead text-justify p-3">
                            We as a firm strongly believe that algorithmic trading is the future,
                            and the way to trade and make money in the markets.
                            </p>
                        </div>

                    </div>

                </div> <!--row ends-->
            </div> <!-- right whole card-6 -->
        </div>
    </div> <!-- middle container ends -->


    <div class="jumbotron mt-1 p-5 bg-white">
        <div class="container">
            <h1 class="display-5 mb-5 text-center">Our Team</h1>

            <div class="row">
                <!-- <div class="col-md-4">
                        <div class="text-center">
                                <img src="placeholder.png" class="border rounded-lg img-responsive mb-2" alt="..."
                                style="height: 20vh; width: 20vh;">
                        </div>
                </div> -->
                <div class="col-md-12">
                        <p class="lead">Mr Sharad Sankaran</p>
                        <p class="text-justify">
                            Mr. Sharad Sankaran is a Chartered Accountant and he has cleared 
                            three levels of CFA Institute USA. He has 15 years experience in 
                            financial markets spanning from equity analysis to wealth management. 
                            He started his career in financial markets working for Clear Capital, 
                            a UK based equity research in 2004. Since 2007, he has managed 
                            wealth for HNIs in his individual capacity
                        </p>
                </div>
            </div>

            <div class="row mt-5">
                <!-- <div class="col-md-4">
                        <div class="text-center">
                                <img src="placeholder.png" class="border rounded-lg img-responsive mb-2" alt="..."
                                style="height: 20vh; width: 20vh;">
                        </div>
                </div> -->
                <div class="col-md-12">
                        <p class="lead">Mr Gaurav Mane</p>
                        <p class="text-justify">
                            Mr. Gaurav Mane has worked at Morgan Stanley Advantage Services for 
                            past 4 years as a Software Developer primarily in the Electronic 
                            Trading domain, while having expertise in 
                            C/C++ and Python technology.
                        </p>
                </div>
            </div>


        </div>
    </div>

    <div class="jumbotron text-center" style="background-color:#004B96; margin-bottom: 0;">
        <h1 class="display-5 text-white">Careers</h1>
        <p class="text-justify text-center text-white">Please send us your Resume at</p>
        <button class="btn btn-light text-dark">coreteam@algonauts.in</button>
    </div>

{% endblock %}