{% extends 'base.html' %}
{% load static %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
{% endblock %}

{% block navbar_selector %}
    {% with Navbar=False%}
        {{ block.super }}
    {% endwith%}
{% endblock navbar_selector%}

{% block content %}

<div style="margin-top: 7vh;">

</div>

<div class="jumbotron text-center" style="background-color: rgb(242,248,248);">
    <div class="container">
    <h1 class="display-5">About Us</h1>
    <p class="lead text-justify mt-4 mb-3">
        Algonauts is a team of finance and technology professionals with combined experience 
        over 20 years. We identify, evaluate, analyze and leverage trading and investment 
        opportunities to build algorithms using statistical and mathematical models. Extensive 
        use of technology and numerous years of experience in stock market empower us to build 
        new algorithms. <br>We as a firm strongly believe that algorithmic trading is the future, 
        and is a way to trade and make money in the markets.
    </p>
    </div>
</div>

<!--  -->

<div class="container text-center mt-5">
        <div class="row md-12 mb-2">

            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/about-us-bg-img.svg" width="100%" height="100%">
            </div>

            <div class="col-md-6">
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div class="mt-5">
                                <h1 class="mt-5 mb-2 display-5">
                                    Our Mission
                                </h1>
                            <p class="lead text-justify pt-3 px-5">
                            We aim to bridge the gap between Technology and Quantitative World 
                            and to generate consistent superior results.
                            </p>
                        </div>

                    </div>

                </div> <!--row ends-->
            </div> <!-- right whole card-6 -->
        </div>
    </div> <!-- middle container ends -->


    <div class="jumbotron p-5 bg-white">
        <div class="container">
            <h1 class="display-5 mb-5 text-center">Our Team</h1>

            <div class="row">
                <!-- <div class="col-md-4">
                        <div class="text-center">
                                <img src="placeholder.png" class="border rounded-lg img-responsive mb-2" alt="..."
                                style="height: 20vh; width: 20vh;">
                        </div>
                </div> -->
                <div class="col-md-12">
                        <p class="lead font-weight-bold">Mr Sharad Sankaran</p>
                        <p class="lead text-justify">
                            Mr. Sharad Sankaran has cleared three levels of CFA Institute USA 
                            and has 15 years of experience in financial markets. His career 
                            started with working for Clear Capital in 2004. Since 2007, he has 
                            managed wealth for HNIs.
                        </p>
                </div>
            </div>

            <div class="row mt-5">
                <!-- <div class="col-md-4">
                        <div class="text-center">
                                <img src="placeholder.png" class="border rounded-lg img-responsive mb-2" alt="..."
                                style="height: 20vh; width: 20vh;">
                        </div>
                </div> -->
                <div class="col-md-12">
                        <p class="lead font-weight-bold">Mr Gaurav Mane</p>
                        <p class="lead text-justify">
                            Mr. Gaurav Mane has worked at Morgan Stanley Advantage Services for 
                            past 4 years as a Software Developer primarily in the Electronic 
                            Trading domain, while having expertise in C/C++ and Python technology.
                        </p>
                </div>
            </div>


        </div>
    </div>
    <div class="jumbotron text-center" style="background-color:#004B96; margin-bottom: 0;">
        <h1 class="display-5 text-white">Careers</h1>
        <p class="text-justify text-center text-white">Please send us your Resume at</p>
        <button class="btn btn-light text-dark bg-white border" style="border-radius: 24px;">
            <a href="mailto:coreteam@algonauts.in?subject=Careers:Resume" class="text-decoration-none">
            <p class="pb-1 pt-3" style="color:#004B96;"> coreteam@algonauts.in </p>
            </a>
        </button>
    </div>

    <script>
        $(document).ready(()=>{
            console.log("Will change css.")
            $("nav").attr({style : "background-color: rgb(242, 248, 248)!important"});      
        })
    </script>


{% endblock %}


{% block base_scripts %}
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('nav').attr('style', 'box-shadow:2px 2px 5px grey; background-color: rgb(242, 248, 248)!important;');
                    $('.navbar-collapse').attr('style', 'padding-top:10px;background-color: rgb(242, 248, 248)!important');
                    $('.navbar-header').attr('style', 'padding-top:5px;padding-bottom:5px;padding-left:10px;background-color: rgb(242, 248, 248)!important');
                    $('#logo').attr('style', 'transform: scale(0.8)');

                    $("#logo").hover(function () {
                        $("#logo").attr('style', 'transform:scale(0.85)');
                    }, function () {
                        $("#logo").attr('style', 'transform:scale(0.8)');
                    });
                }
                if ($(this).scrollTop() < 200) {
                    $('nav').attr('style', 'box-shadow:none;background-color: rgb(242, 248, 248)!important');
                    $('.navbar-collapse').attr('style', 'padding-top:25px;background-color: rgb(242, 248, 248)!important');
                    $('.navbar-header').attr('style', 'padding-top:18px;padding-left:10px;background-color: rgb(242, 248, 248)!important')
                    $('#logo').attr('style', 'transform: scale(1)');
                    $("#logo").hover(function () {
                        $("#logo").attr('style', 'transform:scale(1.1)');
                    }, function () {
                        $("#logo").attr('style', 'transform:scale(1)');
                    });
                }
            })
        });


        $(document).ready(function () {
            $(".whatwedoi").click(function () {
                $('html, body').animate({
                    scrollTop: $("#whatwedocont").offset().top - 80
                }, 800);
            });

            $(".howwedoi").click(function () {
                $('html, body').animate({
                    scrollTop: $("#howwedocont").offset().top - 80
                }, 800);
            });
        });

        $(document).ready(function () {
            $("#chat-input").css({"margin-top":"1.0rem"});
            $("#send-img").addClass("fa fa-paper-plane-o")
        });


    </script>
    <script src="{% static 'js/chatbot.js' %}"></script>

{% endblock %}