{% load static %}
{% load define_action %}

<!DOCTYPE html>
<html>
<head>
    <meta name="theme" content="#004B96">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="FV4auFZ7htxbNwQnweEaYCJ3C4bNcPx3R5JC2H5-gZA" />
    <title>Algonauts Technologies</title>
    <link rel="icon" href="{% static 'algonauts.png' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <meta name="description" content="Algonauts is an Algo Trading firm that automates the trading decisions and systems. Trading strategies built on statistical and mathematical models to generate superior returns.">
    <meta name="keywords" content="Trading,Algo,Automate,India,Market,Stock">
    <meta name="author" content="Algonauts Technologies">
    {% block css_imports %}
    {% endblock %}

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" >
    
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700|Mukta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script src="https://kit.fontawesome.com/a26aa1e038.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.js"></script>

    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/colors.js' %}"></script>
    <!--Chatbot CSS-->
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block js_imports %}
    {% endblock %}

    <style>
        





    </style>

    {% block custom_head %}
    {% endblock %}
</head>

<body>

<mybot></mybot>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 font-weight-bold">
    <a class="navbar-brand" href="/"></a>
    <a class="navbarlogo" href="/"><img id="logo" src="/static/algotext.png" width="150px" height="auto" alt="image"></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-center" id="navbarNav" style="font-size:16px;">
      <ul class="nav navbar-nav ml-auto justify-content-between full-width" style="font-size:1.05rem;">
        
            <li class="nav-item">
                <a  class="p-2 nav-link navbar-all" style="cursor: pointer;" href="{% url 'blog' %}">Blog</a>
            </li>
            
        {% if urls %}
            <li class="nav-item">
                <a id="whatwedoicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="{% url 'index' %}#whatwedocont">What We Do?</a>
            </li>
            <li class="nav-item">
            <a id="aboutusicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="{% url 'index' %}#aboutuscont">About Us</a>
            </li>
            <li class="nav-item">
            <a id="productsicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="{% url 'index' %}#productscont">Products</a>
            </li>
            <!-- <li class="nav-item">
            <a id="pricingicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="/subscriptions/plans">Products</a>
            </li> -->
        {% else %}
        <li class="nav-item">
            <a id="whatwedoicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="/whatwedo/">What We Do?</a>
        </li>
        <li class="nav-item">
        <a id="aboutusicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="/aboutus/">About Us</a>
        </li>
        <!-- <li class="nav-item">
        <a id="productsicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="/products/">Products</a>
        </li> -->
        <li class="nav-item">
        <a id="pricingicon" class="p-2 navbar-all nav-link" style="cursor: pointer;" href="/subscriptions/plans">Products</a>
        </li>
        {% endif %}
            {% if user.is_anonymous %}
            <li class="nav-item">        
                <a class="p-2 navbar-all nav-link" href = '/accounts/login'>Login</a>
            </li>
                
            {% else %}
            <li class="nav-item dropdown"  >
                <a class="nav-link dropdown-toggle dark-gray " id="login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.first_name}} </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="login">
                    <li class="dropdown-item" href="/user/profile/info"><a class = "link-unstyled dark-gray" href="{% url 'u_profile_page' %}">Dashboard</a></li>
                    <li class="dropdown-item" href="}"><a class = "link-unstyled dark-gray" href="{% url 'feedback' %}">Feedback</a></li>
                    <li class="dropdown-item" href="#">
                        <a>
                            <form method="post" id = "logout" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}>
                                    <input  name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"hidden/>    
                                {% endif %}
                                <button id = "logout-btn" class="btn" style="font-size: 16px;" type="submit"  >Sign Out</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </li>

            {% endif %}
      </ul>
    </div>
    </nav>

   
    <div class="mb-5">
        
    </div>
    <div class="mb-5">
    
    </div>

    {% block content %}
    {% endblock content%}

    <footer  style="background-image: radial-gradient( rgb(66, 66, 66), rgb(33, 33, 33), rgb(0, 0, 0)); color: white;" >
        <div class="row p-4" >
            <div class="col-md-3 offset-sm-1 ">
                <div class="row">
                    <div class="col-md-8    ">
                        <div class="row p-4 d-flex justify-content-center ">    
                            <img  src="{% static 'algonautsw.png' %}" width= "90vh" height="auto" />
                        </div>
                        <div class="row pl-4 d-flex justify-content-center justify-content-md-start">
                            <span class="text-justify">We develop algorithms by statistical & mathematical analysis to create portfolios and execute trades.</span>
                        </div>
                        <div class="p-3"></div>
                    </div>
                </div>
    
            </div>
            <div class="col-md-5 p-1">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="row content-heading font-weight-bold pb-2 d-flex justify-content-center justify-content-md-start">
                            <a> Navigation</a>
                        </div>
            
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a  class = "text-white"class="whatwedoi" href='/whatwedo/'>What we do ?</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a class = "text-white" class="howwedoi" href='/aboutus/'>Abouts us</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a class = "text-white" href='/subscriptions/plans'>Pricing</a>
                        </div>
                        <div class="p-2"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="row content-heading pb-2 d-flex justify-content-center justify-content-md-start" style="font-size: large;" >
                            <a>Resources</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start">
                            <a>Support Center</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start">
                            <a>Testimonials</a>
                        </div>
                        <div class="p-2"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="row content-heading pb-2 d-flex justify-content-center justify-content-md-start" style="font-size: large;" >
                            <a>Account</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a class = "text-white" href='/user/profile/info'>Manage Your Account</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a class = "text-white" href='/subscriptions/plans'>Start a free trial</a>
                        </div>
                        <div class="row p-1 d-flex justify-content-center justify-content-md-start" >
                            <a class = "text-white" href='/accounts/signup'>Sign up</a>
                        </div>
                        <div class="p-2"></div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-3">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class=" row content-heading pr-2 pl-2 d-flex justify-content-center justify-content-md-start">
                            <span>Contact us</span>
                        </div>	
                        <div class="row  x-large pr-2 pl-2 d-flex justify-content-center justify-content-md-start" >
                            <span >+91 99306 86822</span>
                        </div>
                        <div class="row content-heading light row p-2 d-flex justify-content-center justify-content-md-start">
                            <a class ="text-white" href = "mailto:help@algonauts.in?subject=Query&body=">help@algonauts.in</a>
                        </div>
                        

                    </div>	
    
                </div>
                

                <div class="row d-flex justify-content-center justify-content-md-start justify-content-sm-center" style="text-align:center; font-size:2.2rem;">
                    <a class = "text-white" href="https://www.facebook.com/Algonauts-Technologies-106856034159454/"><i class="fab fa-facebook-f fa-f"></i></a>
                    <a href="https://twitter.com/AlgonautsT"><i class="fab fa-twitter fa-t"></i></a>
                    <a href="https://www.linkedin.com/in/algonauts-technologies/"><i class="fab fa-linkedin-in fa-l"></i></a>
                    <a href="https://www.quora.com/profile/Algonauts-Technologies-1"><i class="fab fa-quora fa-q"></i></a>
                </div>
    
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12 text-center p-2">
                <span class="">© 2020 Algonauts. All Rights reserved</span>
            </div>
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}

    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('nav').attr('style', 'box-shadow:2px 2px 5px grey;');
                    $('.navbar-collapse').attr('style', 'padding-top:10px;');
                    $('.navbar-header').attr('style', 'padding-top:5px;padding-bottom:5px;padding-left:10px;');
                    $('#logo').attr('style', 'transform: scale(0.8)');

                    $("#logo").hover(function () {
                        $("#logo").attr('style', 'transform:scale(0.85)');
                    }, function () {
                        $("#logo").attr('style', 'transform:scale(0.8)');
                    });
                }
                if ($(this).scrollTop() < 200) {
                    $('nav').attr('style', 'box-shadow:none;');
                    $('.navbar-collapse').attr('style', 'padding-top:25px;');
                    $('.navbar-header').attr('style', 'padding-top:18px;padding-left:10px;')
                    $('#logo').attr('style', 'transform: scale(1)');
                    $("#logo").hover(function () {
                        $("#logo").attr('style', 'transform:scale(1.1)');
                    }, function () {
                        $("#logo").attr('style', 'transform:scale(1)');
                    });
                }
            })
        });


        $(document).ready(function () {
            $(".whatwedoi").click(function () {
                $('html, body').animate({
                    scrollTop: $("#whatwedocont").offset().top - 80
                }, 800);
            });

            $(".howwedoi").click(function () {
                $('html, body').animate({
                    scrollTop: $("#howwedocont").offset().top - 80
                }, 800);
            });
        });

        $(document).ready(function () {
            $("#chat-input").css({"margin-top":"1.0rem"});
            $("#send-img").addClass("fa fa-paper-plane-o")
        });


    </script>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>

</html>
