{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: white;
    }

    .head_text {
        color: white;
    }

    .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }

    .btn-danger {
        color: #fff;
        background-color: #f00000;
        border-color: #dc281e;
    }

    .masthead {
        background: #3398E1;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #E3E7EB;
        padding-top: 10px;
    }

    .container {
      margin-top:10rem;
      margin-bottom:5rem;
    }

    .comment-card{
      border-radius: 4rem;
      border-width: thin;
      box-shadow: 0 4px 12px #D4D4D4;
    }

</style>


<div class="container">
  <div class="row">
    <div class="col-md-7 mt-3 left">
    <div class="card mb-4">
      <div class="card-body">
        <h1 style="font-size: 2.5rem; font-weight: 800;">{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted" >{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text" style="font-size: 1.5rem;">{{ post.content | safe }}</p>
      </div>
    </div>

<!--      <hr style="margin-top:10px; margin-bottom:10px; border-top-style: solid; border-width: medium; border-color:#8D7777">-->


    <div class="comment-card card mb-4">
      <div class="card-body">
        <!-- comments -->
        <h2 style="font-size: 2.5rem; font-weight: 800;">{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px; padding: 10px; background: whitesmoke; border-radius: 2rem; margin-bottom: 1rem;">
          <p class="font-weight-bold" style="font-size: 1.6rem; margin-left:2rem;font-weight: bold;">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal" style="font-size: 1.2rem; margin-left:1rem; margin-top: 0.4rem; float: right;">
              {{ comment.created_on }}
            </span>
          </p>
          <h4 style="font-size: 1.5rem; margin-left:5rem;">{{ comment.body | linebreaks }}</h4>
        </div>
        {% endfor %}
      </div>
    </div>

<!--      <hr style="margin-top:10px; margin-bottom:10px; border-top-style: solid; border-width: medium; border-color:#8D7777">-->

    <div class="card mb-4">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3 style="font-size: 2.5rem; font-weight: 800;">Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em; font-size:1.4rem;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
  $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('nav').attr('style', 'box-shadow:2px 2px 5px grey;');
                $('.navbar-collapse').attr('style', 'padding-top:10px;');
                $('.navbar-header').attr('style', 'padding-top:5px;padding-bottom:5px;padding-left:10px;');
                $('#logo').attr('style', 'transform: scale(0.8)');

                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(0.85)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(0.8)');
                });
            }
            if ($(this).scrollTop() < 200) {
                $('nav').attr('style', 'box-shadow:none;');
                $('.navbar-collapse').attr('style', 'padding-top:25px;');
                $('.navbar-header').attr('style', 'padding-top:18px;padding-left:10px;')
                $('#logo').attr('style', 'transform: scale(1)');
                $("#logo").hover(function () {
                    $("#logo").attr('style', 'transform:scale(1.1)');
                }, function () {
                    $("#logo").attr('style', 'transform:scale(1)');
                });
            }
        })
    });
</script>
{% endblock %}