.pad{
    float: right; /* float all of this to the right */
    list-style: none;
    height: 26px;
    margin: 0;
    padding: 4;
    clear: left; /* clear the children that are floated left */
  }
html{
    scroll-behavior: smooth;
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

nav{
    transition: box-shadow .8s;
}

.navbar{
        border-radius: 0 !important;
        background-color: white !important;
        border: none !important;
        transition: background-color .2s;
}

.navbar-collapse{
    padding-top: 25px;
    transition: padding-top 0.2s;
    /* font-family: 'Patua One', cursive; */
}

.navbar-inverse .navbar-collapse{
    border-color:white !important;
}

.navbar-inverse .navbar-toggle{
    background-color: #515252;
    border:none !important;
}

.navbar-inverse .navbar-nav .active a{
    background-color:white!important;
    color:darkgrey !important;
}

.navbar-header{
    padding-left: 10px;
    padding-top:18px;
    padding-bottom:18px;
    transition: padding-top 0.2s;

}

#myNavbar li a{
    font-size: 18px !important;
    color:#515252 !important;
    transition-duration: .2s;
}

#myNavbar li a:hover{
    transform: scale(1.1) !important;
}

.navbar-header .navbarlogo img{
    transition: transform .2s;
}

#logo:hover{
    transform: scale(1.05);
}

#loginModal{
    font-family: 'Roboto', sans-serif !important;
}

#loginBtn{
    background-color: #004B96;
    border: none;
    width: 20%;
    font-size: 1vw;
    border-radius: 0px !important;
}

.input-group{
    margin: 5%;
    border-color: #004B96 !important;
}

.input-group-addon{
    background-color:#004B96 !important;
}

.input-group-addon .glyphicon{
    color: white !important;
}

.modal-footer{
    background-color: #004B96;
}

.modal-footer a{
    color: white
}

.modal-footer a:hover,
.modal-footer a:visited{
    color: lightgrey;
}

#arrowdown{
    border-radius:80px !important;
}


.landing-page{
    padding:30vh 5vmax;
    text-align: center;
}

.landing-text{
    background-color: white;
}
.landing-text h2{
    font-size:6vw;
    letter-spacing:8px;
    font-family: 'Arimo', sans-serif;
    color: #4c4c4c !important;
}

.landing-text h3{
    font-size:3.5vmax;
    font-family: 'Mukta', sans-serif;
}

.landing-text h4{
    padding:1%;
    font-size:1.5vmax;
    color: #494949;
    font-family: 'Heebo', sans-serif;
}

#downarrow{
    border-radius: 50px;
    border: none;
    color:white;
    padding:0.5% 6%;
    font-size:28px;
    font-family: 'Roboto', sans-serif;
    background:#004B96
}

#downarrow :hover{
    border: none;
}

@media screen and (max-width: 680px) {
    .landing-page{
        height: calc(100vh);
        padding:30vh 5vmax;
        text-align: center;
    }
    
    .landing-text h2{
        font-size:12vw;
        letter-spacing:2px;
    }
    
    .landing-text h3{
        font-size:4vmax;
    }
    
    .landing-text h4{
        padding:1%;
        font-size:2.5vmax;
        color: #494949;
    }
}

.banner-text{
    line-height:30px;
    font-size:19px;
    text-align:justify;
    font-family: 'Lato', sans-serif !important;
}

#aboutuscont{
    background-color:white
}

#aboutuscont .row{
    margin:0 auto;
    text-align: center;
    padding: 4% 8%;
}

#aboutuscont .col-md-8{
    padding: 1% 2% 1% 2%;
    padding-top: 20px;
    align-content: center;
    margin-bottom: 3%;
}

#aboutuscont .col-md-8 .content{
    margin: 1vmin 5vmin;
}

#aboutuscont .row .col-md-8 h3{
    font-family: 'Roboto', sans-serif !important;
    font-weight:450;
    font-size:32px;
}

#aboutuscont .col-md-4{
    padding:4.5% 0%;
    text-align: center;
}

.abtimg img{
    width:23vmax;
}

.knowmore{
    border-bottom: 4px solid #7DDCFF;
    width: max-content;
    width: -moz-fit-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
}

.knowmore p
{
    font-size:15px;
    color:#004B96 !important;
    font-family:'Lato', sans-serif !important;
    font-weight: bold;
    margin:0.5vmax 0vmax!important;
}

.knowmore a:hover{
    text-decoration: none;
}

.whatwedo{
    padding-top:2%;
    padding-bottom:4%;
    background-color:white;
}

.whatwedo h3{
    font-size:350%;
    color:#424242;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-weight:450; 
    margin: 0% 0%;
}

.whatwedo ul{
    padding-inline-start: 2% !important;
}

.whatwedo li{
    padding:0.5%;
    text-align: justify;
    line-height:28px;
    font-size:20px;
    font-family: 'Lato', sans-serif !important;
    color:#6d6d6d;
}

.hwd{
    background-color:#f7f7f7;
    padding: 4% 0%;
}

.hwdheading{
    padding-bottom:5%;
    color:#515151;
    margin: 0 auto;
    width: max-content;
}

.hwdheading p{
    font-size: 350%;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-weight:450;
    margin: 0 auto;
}

.classichr{ 
    border-bottom: 5.5px solid #7DDCFF;
    margin: 0.5vw 38%;
}

.howwedobann
{
    padding:0.5% 5%;
}

.howwedobann .col-md-4{
    margin-bottom:2%;
}

@media only screen and (max-width: 480px)
{
    .howwedobann .col-md-4
    {
        margin-bottom:8%;
    }
}

.howwedobann .col-md-4 .content{
    padding:5% 8%;
    /*border : 2px solid lightgray;*/
    border-radius:10px;
    text-align:left;
    background-color: white; 
    transition: background-color .3s,text-decoration 0s !important; 
    text-decoration: none !important;  
}

.howwedobann .col-md-4 .content:hover{
    background-color: #004B96;
    box-shadow: 0px 5px 5px 0px #9e9e9e;
    text-decoration: none !important;
}

.howwedobann .col-md-4 .content:hover h2,.howwedobann .col-md-4 .content:hover p{
    color: white;
}


.howwedobann .col-md-4 .content:hover .knowmore p{
    color: white !important;
}


.howwedobann .col-md-4 .content img
{
    width:20%;
    text-align: left;  
}

.howwedobann .col-md-4 .content h2{
    margin:4% 0%;
    font-size: 26px;
    color :#595959;
    text-align:left;
    font-weight:200;
    font-family: 'Roboto', sans-serif !important;
}

.howwedobann .col-md-4 .content p{
    font-size: 15px;
    color: #848484;
    text-align:justify;
    font-family: 'Lato', sans-serif !important;
}

#more {display: none;}

.pcontainer{
    padding: 5% 10%;
    background-image: url(/static/products/productsindexback.png);
    background-position:left;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.pheading{
    margin: 0 auto;
    width: max-content;
}

.pheading h1{
    font-family: 'Roboto', sans-serif !important;
    color: #515151;
    font-size:3.5vmax;
    font-weight:450;
}

.productsb{
    padding: 3% 15%;
}

.productsb .productsbox{
    padding: 4% 6%;
    overflow: hidden;
}

.productsb .productsbox .content{
    border: 2px solid #005c91;
    border-radius:10px;
    background-color: white;
    padding: 5% 2%;
    height:inherit;
}

.productsb .productsbox .content .col-md-8 h3{
    font-size:1.8vmax;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-weight:450;
}

.productsb .productsbox .content .col-md-8 p{
    color: #848484;
    text-align:justify;
    font-family: 'Lato', sans-serif !important;
    margin: 1.5vmax 0vmax;

}

.productsb-li{
    color: #848484;
    text-align:justify;
    font-family: 'Lato', sans-serif !important;
    margin: 1.5vmax 0vmax;

}

.productsb .productsbox .content .col-md-4{
    margin: 3vmax 0vmax
}

.productsb .productsbox .content .col-md-4 img{
    width:80%;
}

@media only screen and (max-width:786px){
    .productsb .productsbox .content .col-md-4{
        text-align: center;
    }
    .productsb .productsbox .content .col-md-4 img{
        width:30%;
    }
}

#myBtn{
    color: #004B96 !important;
    font-family: 'Lato', sans-serif !important;
}

.contactus
{
    background-color: #004B96;
    padding:1.5% 20%;
    padding-bottom: 3%;
    margin: 0 auto;    
}

#contact .container .heading h3{
    color: white;
    font-size: 35vmax !important;
    text-align: center;
}

#contact{
    background-color: #004B96;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
}

.contactus .contact-inner h3{
    text-align: center;
    font-family: 'Lato', sans-serif !important;
}

footer{
    padding-top: 25px;
    background-color: #3a3a3a;
}

.footerc p{
    display:inline;
    padding: 30px;
    color:white;
    font-size: 16px;
}

.footerc img{
    width: 30px;
}

.footer-menu{
    padding:80px;
}

#particles-js{position:absolute;z-index:-100; width: 100%; height: 100%; background-color: #ffffff; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }


.nav-link{
    color: #000;
}

.dropdown-menu {
    min-width: 20px;
}


