{% extends "users/base.html" %}

{% block profile_content %}

<div class="container mb-5">
<h1 class="display-4 p-3">DashBoard</h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Check Your Email ! Click On Verify Me</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-dark active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="MyPlans-tab" data-toggle="tab" href="#MyPlans" role="tab" aria-controls="MyPlans" aria-selected="false">My Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    
      <div class="row">
          <div class="col-md-8">
              <div class="flush-left">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name : {{ user.first_name }}</li>
                  <li class="list-group-item">Credits : <span style="font-size: large;"><span class="badge badge-pill badge-warning ">₹   {{ user.algo_credits }} </span> </span></li>
                  <li class="list-group-item">Last Login : {{ user.last_login }}</li>
                  <li class="list-group-item">Your Referral Code : 
                    <span class="badge badge-dark">{{ user.referal_code }}</span>
                    <!-- <form class="form-group"> -->
                    <div class="input-group mb-3">
                      <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
                      <input type="text" class="form-control" value="{{ referral_link }}" id="myInput"/>
                      <div class="input-group-append">
                        <span class="input-group-text btn btn-sm" id="basic-addon1"  onclick="myFunction()">copy</span>
                      </div>
                    </div>
                  <!-- </form> -->

                  <!-- <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>
                  </div>

                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                      <span class="input-group-text">$</span>
                      <span class="input-group-text">0.00</span>
                    </div>
                  </div> -->

                    <!-- <form class="form-inline form-group">
                    <input type="text" class="form-control" value={{ referral_link }} id="myInput">
                    <button class=" form-control btn btn-sm btn-dark mt-2 mx-4" onclick="myFunction()">Copy text</button>
                    </form> -->
                    <small>Share link to avail 30 Credits (Applicable only Once)</small><br>
                  </li>
                  <li class="list-group-item">
                    <form class="form-inline" action="/user/refer/user={{ user.referal_code }}" method="POST">
                      {% csrf_token %}
                        <div class="form-group">
                          <label for="">Enter Referal Code</label>
                          <input type="text" id="" maxlength="6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                          <br><small id="helptext" class="text-muted">
                            Must be 6 characters long.
                          </small>
                        </div>
                        <button class="btn btn-dark" type="submit">Ok</button>
                      </form>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    </div>
    <!-- --------------- -->
    
    <div class="tab-pane fade" id="MyPlans" role="tabpanel" aria-labelledby="MyPlans-tab">

      <h1 class="display-4 mt-3">Personal Plans</h1>
      <div class="container mt-5">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
              {% for iplan in iplans %}
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{iplan.plan_name}}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">&#x20B9;{{iplan.price_per_month}} <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ iplan.plan_desc }}</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Subscribe/renew</button>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
      {% if gplans %}
      <h1 class="display-4">Group Plans</h1>
      <div class="container mt-5">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                  {% for gplan in gplans %}
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{gplan.plan_name}}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">&#x20B9;{{iplan.plan_id}} <small class="text-muted">/ mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ gplan.plan_desc }}</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-outline-primary">Subscribe/renew</button>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
            <h1 class="display-4">No Group Plans Yet</h1>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">...</div>
  </div>
<!-- </div> -->
</div>





</samp>
<script type="text/javascript">

$('.alert').alert()

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>
{% endblock %}