{% extends "users/base.html" %}
{% load static %}
{% load define_action %}
{% block profile_content %}

<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<div class="container mb-5">
<br>
<br>
<br>
<br>
<br>

<!-- <h3>DashBoard</h3> -->
{% if not is_verified %}
	<div class="alertx alert alert-dismissible fade show" role="alertx" style="background-color: rgb(246,248,248);">
	<strong>Check Your Email ! Click On Verify Me</strong>
	<button type="button btn btn-dark" class="closex" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	</div>
{% endif %}
  
<style>
	*{
        font-family: 'Roboto', sans-serif;
    }
    .round_effect{
        border-radius: 20px;
    }
	.table-striped tbody tr:nth-of-type(odd) {
    	background-color:  rgb(236, 250, 255);
	}
	.table-striped tbody tr:nth-of-type(odd):hover {
		color: #212529;
		background-color: rgba(0, 0, 0, 0.075);
	}
	.modal-footerx{
		background-color: #004B96;
		padding: 1rem;
		border-top: 1px solid #dee2e6;
		border-bottom-right-radius: calc(0.3rem - 1px);
		border-bottom-left-radius: calc(0.3rem - 1px);
	}

	.close-table{
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
		background-color: transparent;
		border: 0;
		-webkit-appearance: none;
	}
	.close-table, .close-table:focus {
		color: #000;
		text-decoration: none;
		opacity: .75;
	}

	.close-table:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
	.close-remove{
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
		background-color: transparent;
		border: 0;
		-webkit-appearance: none;
	}
	.close-remove, .close-remove:focus {
		color: #000;
		text-decoration: none;
		opacity: .75;
	}

	.close-remove:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
	#add-members-container{
		position: relative;
		cursor: pointer;
	}
	#add-members-style{
		left: 1.67rem;
		z-index: 4;
		top: -0.6rem;
		position: absolute;
	}
	#add-members-plus-style{
		font-size: medium;
		z-index: 10;
		top: -0.9rem;
		position: absolute;
	}

</style>

		<!-- <div class="row">
			<div class="col-md-12">
				<div class="flush-left">
						<div class="card rounded">
							<div class="card-body p-2">
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><b>Name : </b>{{ user.first_name }} {{user.last_name}} </li>
									<li class="list-group-item"><b>Email : </b>{{ user.email }} </li>
									<li class="list-group-item"><b>Credits :</b> <span style="font-size: large;"><span class="badge badge-pill badge-warning ">₹   {{ user.algo_credits }} </span> </span></li>
									<li class="list-group-item"><b>Last Login : </b>{{ user.last_login }}</li>
									<li class="list-group-item"><b>Your Referral Code : </b>
									<span class="badge badge-pill badge-dark p-2"> {{ user.referral_code }} </span>
										<div class="input-group input-group-sm w-75 mx-auto">
											<input type="text" class="form-control card" value="{{ referral_link }}" id="myInput">
											<div class="input-group-append">
												<span class="input-group-text btn btn-sm" id="basic-addon1"  onclick="copyTextFunction()">copy</span>
											</div><br>
										</div>
										<small>Share link to avail 30 Credits (Applicable only Once)</small>
									</li>
									{% if not if_referred %}
										<li class="list-group-item">
										<form class="form-inline" action="/user/refer/user={{ user.referal_link }}" method="POST">
											{% csrf_token %}
											<div class="form-group">
												<label for=""><b>Enter Referal Code</b></label>
												<input type="text" id="" maxlength="8" class="mt-1 form-control mx-sm-3" aria-describedby="passwordHelpInline" required>
												<button class="btn btn-dark btn-sm mt-1" type="submit">Ok</button>
											</div>
											</form>
										</li>
									{% endif %}
								</ul>
							</div> 
						</div>
				</div>
			</div>
		</div>  -->
	<div class="container">
		<h1>Hello {{ user.first_name|title }} !</h1>
        <p class="text-dark"><small>Your previous login : {{ user.last_login }}</small></p>
      <hr>
      
      <div class="row mt-3 justify-content-center">

        <div class="col-md-4 pb-2">
          <div class="card h-100 border bg-white text-dark p-3 round_effect">
            <p class="lead">Personal Information</p>
            <hr class="mt-0">
            <p class=""><img src="/static/img/email-box.png" class="mr-3" style="height: 25px; width: 25px;">{{ user.email }}</p>
          </div>
        </div>

        <div class="col-md-4 pb-2">
          <div class="card h-100 border bg-white text-dark p-3 round_effect">
              <p class="lead">Credits</p>
              <hr class="mt-0">
			  <p class=""><img src="/static/img/credits.png" class="mr-3" class="img-fluid p-1" style="height: 27px; width: 27px;" />
				{{ user.algo_credits }}
			  <small class="ml-4">Share Referral Code to Gain Credits !</small></p>
			  {% if not if_referred %}
			  <form class="form-inline justify-content-center" action="/user/refer/user={{ user.referal_link }}" method="POST">
				  {% csrf_token %}
				  <div class="input-group input-group-sm">
					  <input type="text" id="" maxlength="8" class="form-control pl-2" style="border-radius: 7px;" placeholder="Enter Referral Code" required>
					  <button class="btn btn-dark btn-sm ml-2" type="submit">Ok</button>
				  </div>
			  </form>
			  {% endif %}
          </div>
        </div>

        <div class="col-md-4 pb-2">
          <div class="card h-100 border text-dark p-3 round_effect" style="background-color: rgb(246,248,248); ">
              <p class="lead">Referral Code</p>
              <hr class="mt-0">
                  <p class="text-inline" id="p2">
                    <img src="/static/img/ref-code.png" class="mr-3" class="img-fluid p-1" style="height: 28px; width: 28px;" />
                    <kbd>{{user.referral_code}}</kbd>
                  </p>
				  <p type="text" class="d-none" id="ref-code">{{ user.referral_code }}</p>
				  <p type="text" class="d-none" id="ref-link">{{ referral_link }}</p>
                  <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-outline-dark" onclick="copyToClipboard('#ref-code')" data-toggle="tooltip" 
                    data-placement="bottom" title="Click To Copy">
                    Copy Code
                    </button>
                    <button type="button" class="btn btn-outline-dark" onclick="copyToClipboard('#ref-link')" data-toggle="tooltip" 
                    data-placement="bottom" title="Click To Copy">
                    Copy Shareable Link
                    </button>
                  </div>
                </p>
          </div>
		</div>
	
      </div> <!-- row ends -->

      <!-- row 2 starts -->
      <div class="row mt-3 justify-content-center pb-3">

        <div class="col-md-8 pb-2">
          <div class="card h-100 p-3 round_effect" style="background-color: rgb(246,248,248);">
            <p class="lead">Go To Mercury</p>
            <hr class="mt-0">
            <p class="text">Your Personal Technical Analyst!</p>
			<a href="/worker/mercury" class="stretched-link"></a>  
				<img src="/static/img/arrow-black.png" class="mr-3" class="img-fluid p-1" style="height: 50px; width: 50px;" />
			</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 text-white p-3 round_effect" style="background-color:#004B96">
            <p class="lead">Browse Premium & Basic Plans</p>
            <hr class="mt-0">
			<p class="text-white">Subscribe or Avail Free Premium Plan</p>
			<a href="/subscriptions/plans" class="stretched-link">
			  <img src="/static/img/arrow.png" class="mr-3" class="img-fluid p-1" style="height: 50px; width: 50px;" />
			</a>  
          </div>
        </div>

      </div> <!-- row 2  -->

	<hr>
  </div> <!-- container ends-->
</div>
	<!-- ------------------------------------------------------------------------------------------ -->
    
	<div class="container mt-5">
		<h1>Your Plans</h1>
			  {% if iplans %}
			  		<div class="card card-header mt-5"><h3 class="x-large font-weight-bold">Personal Plans</h3></div>
			  		
          			<div class="row mt-3">
          				{% for iplan in iplans %}
              				<div class="mb-3 col-md-5 offset-md-1">
								
                				<div class="card h-100 border-dark shadow-sm">     
                  					<div class="card-header">
										{% if iplan.1.type_name == "Premium" %}
											<h4 class="my-0 font-weight-normal">{{iplan.2}} - {{iplan.1}} <br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{iplan.0.subscription_type_id__type_name}}</span><br></h4>
										{% else %}
										<h4 class="my-0 font-weight-normal">{{iplan.2}} - {{iplan.1}} - {{iplan.3}} <br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{iplan.0.subscription_type_id__type_name}}</span><br></h4>
										{% endif %}
									</div>
									  
                  					<div class="card-body flex-column">
											{% if iplan.0.subscription_type_id__type_name == "Trial" %}
											<p class="lead"> Subscribe With the following Plan</p>
											<p class="card-title pricing-card-title text-weight-bold"> <b> Monthly Price : ₹</b> {{iplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
											<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{iplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
										  {% elif iplan.0.subscription_type_id__type_name == "Monthly" %}
											<p class="card-title pricing-card-title"><b>Monthly Price :  ₹ </b>{{iplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
										  {% else %}
											<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{iplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
										  {% endif %}
											<ul class="list-group mb-4">
											  <li class="list-group-item list-group-item-info mb-3"><b>Start Date : </b>{{ iplan.0.subscription_start }}</li>
											  <li class="list-group-item list-group-item-danger"><b>End Date : </b>{{ iplan.0.subscription_end }}</li>
											</ul>
									</div>
									<div class="mt-1 p-4">										
										<form method="POST" action="/subscriptions/plan-renew">
											{% csrf_token %}
											{% if iplan.0.subscription_type_id__type_name|lower == 'trial' %}
												<input class="periodcode" name = "period" value="Monthly"hidden></input>
											{% else %}
												<input class="periodcode" name = "period" value="{{iplan.0.subscription_type_id__type_name}}"hidden></input>
											{% endif %}
											<input class="plancode" name= "plancode" value="{{iplan.1}}" hidden></input>
											<input class="planname" name= "planname" value="{{iplan.0.plan_id__plan_name}}" hidden></input>
											<input class="groupcode" name= "groupcode" value="{{iplan.0.plan_id__user_group_type_id__type_name}}" hidden required></input>
											<input class="super" name = "super" value="super" hidden/>
											{% if iplan.0.subscription_type_id__type_name == "Trial" %}
												<button  type="submit" class="btn btn-block btn-outline-primary" >Subscribe</button>
											{% else %}
												<button type="submit" class="btn btn-block btn-outline-primary" >Renew</button>
											{% endif %}
										</form>
									</div>
											
								</div>
								
              				</div>
          				{% endfor %}
		  			</div>
      			
			{% else %}
				<!-- <h6>No Personal Plans Yet</h6> -->
			{% endif %}
			
		</div>

      <!-- ------------------------------- -->
      
      	<div class="container mt-5">
		
		{% if gplans %}
		<div class="card card-header mt-5"><h3 class="x-large font-weight-bold">Group Plans</h3></div>	  			
			<div class="row mt-3">
				{% for gplan in gplans %}
					<div class="mb-3 col-md-5 offset-md-1">
					
					<div class="card h-100 border-dark shadow-sm">     
							<div class="card-header">
							{% if gplan.1.type_name == "Premium" %}
								<h4 class="my-0 font-weight-normal">{{gplan.2}} - {{gplan.1}} <span class="badge badge-pill badge-secondary" style="min-width: 20px;">{{gplan.0.plan_id__user_group_type_id__max_members}} Members</span><br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{gplan.0.subscription_type_id__type_name}}</span><br></h4>
							{% else %}
								<h4 class="my-0 font-weight-normal">{{gplan.2}} - {{gplan.1}} - {{gplan.3}} <span class="badge badge-pill badge-secondary" style="min-width: 20px;">{{gplan.0.plan_id__user_group_type_id__max_members}} Members</span> <br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{gplan.0.subscription_type_id__type_name}}</span><br></h4>
							{% endif %}
							
							<div class="btn-group dropdown" style="position: absolute;right: 1rem;top: 1rem;">
									<span class="float-right" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" role="button" aria-pressed="false" style="position: absolute;right: 1rem;top: 1rem;">
										<i class='fa fa-ellipsis-v fa-2x' style="color: #6c757d;"></i>
									</span>
							
								<div class="dropdown-menu dropdown-menu-right">
									<button id = "edit-plan-btn" class="dropdown-item" href="#" data-toggle="modal" data-target="#edit-plan" onclick="
																	trigger_edit_plan(
																		'{{gplan.0.subscription_type_id__type_name}}', 
																		'{{gplan.1}}',
																		'{{gplan.0.plan_id__plan_name}}', 
																		'{{gplan.0.plan_id__user_group_type_id__type_name}}',
																	)">Edit</button>
									<button   class="dropdown-item show-add-link" href="#" data-toggle="modal" data-target="#group-add-link" onclick="
																	trigger_group_add_link(
																		'{{gplan.0.subscription_type_id__type_name}}', 
																		'{{gplan.1}}',
																		'{{gplan.0.plan_id__plan_name}}', 
																		'{{gplan.0.plan_id__user_group_type_id__type_name}}',
																	)">Show Link</button>
								</div>
							</div>				
						</div>
							
							<div class="card-body flex-column">
								{% if gplan.0.subscription_type_id__type_name == "Trial" %}
								<p class="lead"> Subscribe With the following Plan</p>
								<p class="card-title pricing-card-title text-weight-bold"> <b> Monthly Price : ₹</b> {{gplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
								<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{gplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
								{% elif gplan.0.subscription_type_id__type_name == "Monthly" %}
								<p class="card-title pricing-card-title"><b>Monthly Price :  ₹ </b>{{gplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
								{% else %}
								<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{gplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
								{% endif %}
								<ul class="list-group mb-4">
									<li class="list-group-item list-group-item-info mb-3"><b>Start Date : </b>{{ gplan.0.subscription_start }}</li>
									<li class="list-group-item list-group-item-danger"><b>End Date : </b>{{ gplan.0.subscription_end }}</li>
								</ul>
						</div>
						<div class="mt-1 p-4">
							<form method="POST" action="/subscriptions/plan-renew">
								{% csrf_token %}
								<!-- <input class="periodcode" name = "period" value="{{gplan.0.subscription_type_id__type_name}}"hidden></input> -->
								{% if iplan.0.subscription_type_id__type_name|lower == 'trial' %}
									<input class="periodcode" name = "period" value="Monthly"hidden></input>
								{% else %}
									<input class="periodcode" name = "period" value="{{gplan.0.subscription_type_id__type_name}}"hidden></input>
								{% endif %}
								<input class="plancode" name= "plancode" value="{{gplan.1}}" hidden></input>
								<input class="planname" name= "planname" value="{{gplan.0.plan_id__plan_name}}" hidden></input>
								<input class="groupcode" name= "groupcode" value="{{gplan.0.plan_id__user_group_type_id__type_name}}" hidden required></input>
								<input class="super" name = "super" value="super" hidden/>
								{% if gplan.0.subscription_type_id__type_name == "Trial" %}
									<button  type="submit" class="btn btn-block btn-outline-primary" >Subscribe</button>
								{% else %}
									<button type="submit" class="btn btn-block btn-outline-primary" >Renew</button>
								{% endif %}
							</form>
							
						</div>
								
					</div>
					
					</div>
				{% endfor %}
			</div>
      {% else %}
        <!-- <h6>No Group Plans Yet</h6> -->
	
		{% endif %}
		{% if not gplans and not iplans %}
			<div>
				<div class="alert alert-secondary" role="alert">
					<h4 class="alert-heading">Not Subscribed to any of plans</h4>
					<p class="content-para-sm">To know more about our products please visit &nbsp;&nbsp;<a href="/subscriptions/plans" class="alert-link content-heading">Plans</a>.</p>
					<p class="content-para-sm">To know more contact our sales department at &nbsp;&nbsp; <a href="mailto:sales@algonauts.in?subject=Want to Know about product features&body=" class="alert-link content-heading">sales@algonauts.in</a>.</p>

					<hr>
				</div>
			</div>
		{% endif %}

		</div> <!-- Plan tab ends-->
		<!-- ------------------------------------------------------------------------------------------ -->


	</div> <!-- Tab Content ends -->
  </div> <!-- Container ends -->
</div> 


<div class="modal fade" id="edit-plan" tabindex="-1" role="dialog" aria-labelledby="edit-plan-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div type="text" id = "edit-group-type-id" style="display: none;"></div>
				<h5 class="modal-title" id="edit-plan-label">Edit Plan</h5>
				<button type="button" class="close-table" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id = "add-members-container">
					<span id = "add-members-plus-style" class="badge badge-warning badge-pill">+</span>
					<span id="add-members-style" class="badge badge-danger" >
						add members
					</span>
				</div>
				<table id = "edit-plan-table" class="table table-striped table-hover">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col" >Action</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<th scope="row">1</th>
						<td>{{user.first_name}}</td>
						<td>{{user.last_name}}</td>
						<td >
							<span class="fa fa-times red-danger" style="cursor: pointer;">

							</span>
						</td>
					  </tr>
					</tbody>
				  </table>
			</div>
			<div class="modal-footerx">
				<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button> -->
				<div id = "modal-plan-full-name" class="font-weight-bold float-left" style="color: azure;">
					
				</div>
				<div id = "modal-period" class="font-weight-bold float-right" style="color: azure;"> 

				</div>
			</div>
		</div>
	</div>
  </div>

<div class="modal fade" id="confim-user-remove" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confim-user-remove-header">Confim User Remove</h5>
				<button type="button" id="close-confirm" class="close-remove" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6>Enter the email address of user to removed from the group <span id = "confirm-group-type-id" class="font-weight-bold"></span>. 
					Enter <span id = "confirm-email-id" class="font-weight-bold"></span> to confirm remove.</h6>
				<div>
					<div class="form-row form-inline">
						<label for="removed-user-email" class="col-md-3"><span class="badge badg-secondary"> Email address</span></label>
						<input type="email" name = "entered-email-id" class="form-control col-md-9" id="removed-user-email" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="form-row form-inline text-center">
						<button id = "removed-verified" class="btn btn-primary text-center" style="margin-left:10%;width: 80%;">Submit</button>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

<div class="modal fade" id="confim-user-add" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confim-user-add-header">Add User</h5>
				<button type="button" id="close-confirm-add" class="close-remove" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6>Enter the email address of user to added to the group <span id = "add-group-type-id" class="font-weight-bold"></span>. 
					Group add link will sent to email given.
				<div>
					<div class="form-row form-inline">
						<label for="removed-user-email" class="col-md-3"><span class="badge badg-secondary"> Email address</span></label>
						<input type="email" name = "add-email-id" class="form-control col-md-9" id="add-user-email" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="form-row form-inline text-center">
						<button id = "send-mail-to-user" class="btn btn-primary text-center" style="margin-left:10%;width: 80%;">Send Mail</button>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="group-add-link" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confim-user-add-header">Group : <span id="group-name" class="badge badge-warning"></span></h5>
				<button type="button" id="close-group-add-link" class="close-remove" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group input-group-sm  mx-auto">
					<input type="text" class="form-control card" value="" id="group-add-link-input" readonly>
					<div class="input-group-append">
						<span class="input-group-text btn fa fa-clipboard" id="basic-addon1"  onclick="copyTextFunction('group-add-link-input', 'group-add-link', 'close-group-add-link')"></span>
					</div><br>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$('.alertx').alert()
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

	function copyToClipboard(element) {
		var $temp = $("<input>");
		$("body").append($temp);
		$temp.val($(element).text()).select();
		document.execCommand("copy");
		$temp.remove();
	}

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
  
  </script>

<script type="text/javascript">
	$(document).ready(()=>{
		$("#close-confirm").click(()=>{
			$('#edit-plan').modal('toggle');
		});

		$("#close-confirm-add").click(()=>{
			$('#edit-plan').modal('toggle');
		});

		$("#removed-verified").click(()=>{
			console.log($("input[name='entered-email-id']").val(), $("#confirm-email-id").html(), ",   condition : ", $("input[name='entered-email-id']").val() == $("#confirm-email-id").html())
			if($("input[name='entered-email-id']").val() == $("#confirm-email-id").html()){
				console.log("Will remove ", $("#confirm-email-id").html() ," user from group")
				$.ajax({
					type: "POST",
					url: "{% url 'remove_user_from_group' %}" , // "/user/get-all-users-in-group",
					data : {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						email : $("input[name='entered-email-id']").val(),
						groupcode : $("#confirm-group-type-id").html(),
					},
					success: function(data)
					{
						console.log(data)
						$('#confim-user-remove').modal('toggle');
					},
					error: function(request, status, error)
					{
						alert(request.responseText);
					}
				});
			}else{
				console.log("Incorrect Match")
			}
		});

		$("#add-members-container").click(()=>{
			$('#edit-plan').modal('toggle');
			$("#confim-user-add").modal()
		});

		$("#send-mail-to-user").click(()=>{
			$.ajax({
					type: "POST",
					url: "{% url 'send_user_add_link' %}" , // "/user/get-all-users-in-group",
					data : {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						email : $("input[name='add-email-id']").val(),
						groupcode : $("#edit-group-type-id").html(),
					},
					success: function(data)
					{
						console.log(data)
						$("#confim-user-add").modal('toggle')
					},
					error: function(request, status, error)
					{
						alert(request.responseText);
					}
				});
		});
	});

	function remove_member(email, group_type){
		$("#confirm-email-id").html(email)
		$("#confirm-group-type-id").html(group_type)
		$('#edit-plan').modal('toggle');
		$("#confim-user-remove").modal()
	}
	function insert_row_in_edit_plan_table(source_table, data, index, group_type) {
		let row = source_table.getElementsByTagName("tbody")[0].insertRow(-1);
		row.innerHTML = `<th scope="row">` + index + `</th>` + 
						`<td>` + data['first_name'] + ` ` + data['last_name'] + `</td>` + 
						`<td>` + data['email'] + `</td>` +
						`<td id = "remove-member" onclick="remove_member('` + data['email'] +`','` + group_type + `')">` + 
							// `<button type="button" class="btn" data-toggle="modal" data-target="#confim-user-remove">` + 
								`<span class="fa fa-times red-danger" style="cursor: pointer;" data-toggle="modal" data-target="#confim-user-remove"></span>` +
							// `</button>` +
						`</td>`
		row.setAttribute('class', "none")
		return row
	}

	function update_edit_plan_table(data, extras){
		console.log( typeof data, ",  ", data, ", group type : ", extras.group_type)
		$("#edit-group-type-id").html(extras.group_type)
		var table = document.getElementById("edit-plan-table")
		$("#edit-plan-table").find("tr:not(:first)").remove();
		data.forEach((row, index) => {
			insert_row_in_edit_plan_table(table, row, index + 1, extras.group_type)
		});
	}

	function trigger_edit_plan(period, plancode, planname, groupcode){
		var data = $.ajax({
			type: "POST",
			url: "{% url 'get_all_users_in_group' %}" , // "/user/get-all-users-in-group",
			data : {
				csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
				period : period,
				plancode : plancode,
				planname : planname,
				groupcode : groupcode,
			},
			success: function(data)
			{
				return update_edit_plan_table(data, {group_type:groupcode});
			},
			error: function(request, status, error)
			{
				alert(request.responseText);
			}
		});
		$("#modal-plan-full-name").html(planname.toLowerCase() + "-" + plancode.toLowerCase() + "  <span class='badge badge-secondary'>" + groupcode + "</span>")
		$("#modal-period").html("<span class='badge badge-warning'>" + period + "</span>")
	}

	function trigger_group_add_link(period, plancode, planname, groupcode){
		var data = $.ajax({
			type: "POST",
			url: "{% url 'get_user_group_add_link' %}" , // "/user/get-all-users-in-group",
			data : {
				csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
				period : period,
				plancode : plancode,
				planname : planname,
				groupcode : groupcode,
			},
			success: function(data)
			{
				console.log("group - add link : ", data)
				$("#group-add-link-input").val(data['link'])
				$('#group-name').html(data['groupcode'])
			},
			error: function(request, status, error)
			{
				alert(request.responseText);
			}
		});
	}

  function copyTextFunction(id = 'myInput', modal_id = null, modal_close = null) {
	var copyText = document.getElementById(id);
	copyText.select();
	copyText.setSelectionRange(0, 99999);
	document.execCommand("copy");
	if(modal_id){
		$(`#${modal_id}`).modal('toggle');
		$(`#${modal_close}`).click();
		

	}
	// alert("Copied the text: " + copyText.value);
	}
</script>

{% endblock %}