{% extends "users/base.html" %}
{% load define_action %}
{% block profile_content %}

<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<div class="container mb-5">
<br>
<br>
<br>
<br>
<br>
<!-- <h3>DashBoard</h3> -->
{% if not is_verified %}
	<div class="alertx alert alert-warning alert-dismissible fade show" role="alertx">
	<strong>Check Your Email ! Click On Verify Me</strong>
	<button type="button btn btn-dark" class="closex" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	</div>
{% endif %}
  
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-dark active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="MyPlans-tab" data-toggle="tab" href="#MyPlans" role="tab" aria-controls="MyPlans" aria-selected="false">My Plans</a>
	</li>
	<!-- <li class="nav-item">
		<a class="nav-link text-dark" id="MyOrders-tab" data-toggle="tab" href="#MyOrders" role="tab" aria-controls="MyOrders" aria-selected="false">My Orders</a>
	</li> -->
  </ul>

  <div class="tab-content" id="myTabContent" style="min-height: 30rem;">
    <div class="tab-pane fade show active mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		<div class="row">
			<div class="col-md-12">
				<div class="flush-left">
						<div class="card rounded">
							<div class="card-body p-2">
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><b>Name : </b>{{ user.first_name }} {{user.last_name}} </li>
									<li class="list-group-item"><b>Email : </b>{{ user.email }} </li>
									<li class="list-group-item"><b>Credits :</b> <span style="font-size: large;"><span class="badge badge-pill badge-warning ">₹   {{ user.algo_credits }} </span> </span></li>
									<li class="list-group-item"><b>Last Login : </b>{{ user.last_login }}</li>
									<li class="list-group-item"><b>Your Referral Code : </b>
									<span class="badge badge-pill badge-dark p-2"> {{ user.referral_code }} </span>
										<div class="input-group input-group-sm w-75 mx-auto">
											<input type="text" class="form-control card" value="{{ referral_link }}" id="myInput">
											<div class="input-group-append">
												<span class="input-group-text btn btn-sm" id="basic-addon1"  onclick="copyTextFunction()">copy</span>
											</div><br>
										</div>
										<small>Share link to avail 30 Credits (Applicable only Once)</small>
									</li>
									{% if not if_referred %}
										<li class="list-group-item">
										<form class="form-inline" action="/user/refer/user={{ user.referal_code }}" method="POST">
											{% csrf_token %}
											<div class="form-group">
												<label for=""><b>Enter Referal Code</b></label>
												<input type="text" id="" maxlength="6" class="mt-1 form-control mx-sm-3" aria-describedby="passwordHelpInline">
												<button class="btn btn-dark btn-sm mt-1" type="submit">Ok</button>
											</div>
											</form>
										</li>
									{% endif %}
								</ul>
							</div> 
						</div>
				</div>
			</div>
		</div> 
	</div> <!-- profile tab ends-->
    <!-- ------------------------------------------------------------------------------------------ -->
    
    <div class="tab-pane fade" id="MyPlans" role="tabpanel" aria-labelledby="MyPlans-tab">
		<div class="container mt-5">

			  {% if iplans %}
			  		<div class="card card-header mt-5"><h3 class="x-large font-weight-bold">Personal Plans</h3></div>
			  		
          			<div class="row mt-3">
          				{% for iplan in iplans %}
              				<div class="mb-3 col-md-5 offset-md-1">
								
                				<div class="card h-100 border-dark shadow-sm">     
                  					<div class="card-header">
										{% if iplan.1 != "Premium" %}
											<h4 class="my-0 font-weight-normal">{{iplan.2}} - {{iplan.1}} <br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{iplan.0.subscription_type_id__type_name}}</span><br></h4>
										{% else %}
										<h4 class="my-0 font-weight-normal">{{iplan.2}} - {{iplan.1}} - {{iplan.3}} <br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{iplan.0.subscription_type_id__type_name}}</span><br></h4>
										{% endif %}
									</div>
									  
                  					<div class="card-body flex-column">
											{% if iplan.0.subscription_type_id__type_name == "Trial" %}
											<p class="lead"> Subscribe With the following Plan</p>
											<p class="card-title pricing-card-title text-weight-bold"> <b> Monthly Price : ₹</b> {{iplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
											<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{iplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
										  {% elif iplan.0.subscription_type_id__type_name == "Monthly" %}
											<p class="card-title pricing-card-title"><b>Monthly Price :  ₹ </b>{{iplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
										  {% else %}
											<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{iplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
										  {% endif %}
											<ul class="list-group mb-4">
											  <li class="list-group-item list-group-item-info mb-3"><b>Start Date : </b>{{ iplan.0.subscription_start }}</li>
											  <li class="list-group-item list-group-item-danger"><b>End Date : </b>{{ iplan.0.subscription_end }}</li>
											</ul>
									</div>
									<div class="mt-1 p-4">
										{% if iplan.0.subscription_type_id__type_name == "Trial" %}
											<button type="button" class="btn btn-block btn-outline-primary">Subscribe</button>
										{% else %}
											<button type="button" class="btn btn-block btn-outline-primary">Renew</button>
										{% endif %}
									</div>
											
								</div>
								
              				</div>
          				{% endfor %}
		  			</div>
      			
			{% else %}
				<!-- <h6>No Personal Plans Yet</h6> -->
			{% endif %}
			
		</div>

      <!-- ------------------------------- -->
      
      	<div class="container mt-5">
		
		{% if gplans %}
		<div class="card card-header mt-5"><h3 class="x-large font-weight-bold">Group Plans</h3></div>	  			
			<div class="row mt-3">
				{% for gplan in gplans %}
					<div class="mb-3 col-md-5 offset-md-1">
					
					<div class="card h-100 border-dark shadow-sm">     
							<div class="card-header">
							<h4 class="my-0 font-weight-normal">{{gplan.2}} - {{gplan.1}} - {{gplan.3}} <span class="badge badge-pill badge-secondary" style="min-width: 20px;">{{gplan.0.plan_id__user_group_type_id__max_members}} Members</span><br><span class="content-para font-weight-bold">Period :</span> <span class="badge badge-pill badge-warning">{{gplan.0.subscription_type_id__type_name}}</span><br></h4>
						</div>
							
							<div class="card-body flex-column">
								{% if gplan.0.subscription_type_id__type_name == "Trial" %}
								<p class="lead"> Subscribe With the following Plan</p>
								<p class="card-title pricing-card-title text-weight-bold"> <b> Monthly Price : ₹</b> {{gplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
								<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{gplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
								{% elif gplan.0.subscription_type_id__type_name == "Monthly" %}
								<p class="card-title pricing-card-title"><b>Monthly Price :  ₹ </b>{{gplan.0.plan_id__price_per_month}} <small class="text-muted">/ mo</small></p>
								{% else %}
								<p class="card-title pricing-card-title"><b>Yearly Price : ₹ </b>{{gplan.0.plan_id__price_per_year}}<small class="text-muted">/ yr</small></p>
								{% endif %}
								<ul class="list-group mb-4">
									<li class="list-group-item list-group-item-info mb-3"><b>Start Date : </b>{{ gplan.0.subscription_start }}</li>
									<li class="list-group-item list-group-item-danger"><b>End Date : </b>{{ gplan.0.subscription_end }}</li>
								</ul>
						</div>
						<div class="mt-1 p-4">
							{% if gplan.0.subscription_type_id__type_name == "Trial" %}
								<button type="button" class="btn btn-block btn-outline-primary">Subscribe</button>
							{% else %}
								<button type="button" class="btn btn-block btn-outline-primary">Renew</button>
							{% endif %}
						</div>
								
					</div>
					
					</div>
				{% endfor %}
			</div>
      {% else %}
        <!-- <h6>No Group Plans Yet</h6> -->
	
		{% endif %}
		{% if not gplans and not iplans %}
			<div>
				<div class="alert alert-secondary" role="alert">
					<h4 class="alert-heading">Not Subscribed to any of plans</h4>
					<p class="content-para-sm">To know more about our products please visit &nbsp;&nbsp;<a href="/subscriptions/plans" class="alert-link content-heading">Plans</a>.</p>
					<p class="content-para-sm">To know more contact our sales department at &nbsp;&nbsp; <a href="mailto:sales@algonauts.in?subject=Want to Know about product features&body=" class="alert-link content-heading">sales@algonauts.in</a>.</p>

					<hr>
				</div>
			</div>
		{% endif %}

		</div> <!-- Plan tab ends-->
		<!-- ------------------------------------------------------------------------------------------ -->


	</div> <!-- Tab Content ends -->
  </div> <!-- Container ends -->
</div> 

<script type="text/javascript">

$('.alertx').alert()
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>

<script type="text/javascript">
  function copyTextFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>

{% endblock %}